#jivo_custom_widget {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    padding: 0 15px 15px 0;
    display: table;
    font-size: 14px
}

#jivo_custom_widget-text {
    border-radius: 8px;
    color: #cdd3f9;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .25);
    background: #252a48;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    max-width: 200px;
    padding: 16px 14px
}

@media (max-width:47.9em) {
    #jivo_custom_widget-text {
        display: none
    }

    #jivo_custom_widget-logo-wrapper {
        display: table-cell;
        padding-left: 10px;
    }

    #jivo_custom_widget-logo:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        background: #14172b url(/images/openchat.png) no-repeat 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
        cursor: pointer;
    }
}

#jivo_custom_widget-text:after,
#jivo_custom_widget-text:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

#jivo_custom_widget-text:before {
    border-color: hsla(0, 0%, 80%, 0);
    border-width: 7px;
    margin-top: -7px
}

#jivo_custom_widget-text:after {
    border-color: hsla(0, 0%, 100%, 0);
    border-width: 6px;
    margin-top: -6px
}

#jivo_custom_widget-text:after,
#jivo_custom_widget-text:before {
    border-left-color: #252a48;
    bottom: 17px
}

#jivo_custom_widget-logo-wrapper {
    display: table-cell;
    padding-left: 10px
}