<md-dialog aria-label="Dialog" style="width: 600px;">
    <md-dialog-content class="md-dialog-content" style="padding-bottom: 0px;">
        <h2 class="md-title ng-binding">
            <span data-i18n="common.twitter_dialog_title"></span>
        </h2>
        <div flex>
            <div class="row" >


                <p>
                    Here is your new personal access token. This is the only time it will be shown so don't lose it!
                    You may now use this token to make API requests.
                </p>

                <md-input-container class="md-block">
                    <label>Access Token</label>
                    <textarea ng-model="accessToken" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>

            </div>

        </div>

    </md-dialog-content>

</md-dialog>