<div id="header" layout="row" layout-align="start center">
    <div class="section-pages-title">Мои приложения</div>
    <span flex=""></span>
    <div>
        <md-button name="submit" ng-click="showCreateClientForm()" class="md-primary">
            Создать приложение
        </md-button>
    </div>
</div>
<md-divider></md-divider>


<div id="content-list">

    <div class="promo-container" layout="column" layout-align="center center" ng-if="clients.length === 0">
        <div ng-if="clients.length === 0 && loadingProcess">
            <md-progress-circular class="md-hue-2" md-diameter="30px"></md-progress-circular>
        </div>
        <div ng-if="clients.length == 0 && !loadingProcess" class="promo-text">
            В настоящее время у вас нет приложений.
        </div>
    </div>

    <div ng-if="clients.length > 0">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="client in clients">
                <img ng-src="/images/icons/coding.png" class="md-avatar"/>
                <div class="md-list-item-text">
                    <h3 style="font-weight: 500">[[ client.name ]]</h3>
                    <p style="color: #999;font-weight: 400;font-size: 13px;">[[ client.created_at ]]</p>
                </div>
                <div class="md-secondary">
                    <md-button ng-href="/apps/[[client.id]]" class="md-icon-button">
                        <md-icon md-font-icon="material-icons" aria-hidden="true">edit</md-icon>
                    </md-button>
                    <md-button ng-click="destroy($event, client)" class="md-icon-button">
                        <md-icon md-font-icon="material-icons" aria-hidden="true">delete</md-icon>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>