<form role="form"  name="createToken" novalidate>
    <md-dialog aria-label="Dialog" style="width: 600px;">
        <md-dialog-content class="md-dialog-content" style="padding-bottom: 0px;">
            <h2 class="md-title ng-binding">

                <span data-i18n="common.twitter_dialog_title"></span>
            </h2>
            <div flex>
                <div class="row" >

                    <!-- Form Errors -->
                    <div class="alert alert-danger" ng-if="form.errors.length > 0">
                        <p><strong>Whoops!</strong> Something went wrong!</p>
                        <br>
                        <ul>
                            <li ng-repeat="error in form.errors">
                                [[ error ]]
                            </li>
                        </ul>
                    </div>
                    <!-- Name -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Name</label>

                        <div class="col-md-6">
                            <input id="create-token-name" type="text" class="form-control" name="name" ng-model="form.name">
                        </div>
                    </div>

                    <!-- Scopes -->
                    <!--<div class="form-group" ng-if="scopes.length > 0">-->
                        <!--<label class="col-md-4 control-label">Scopes</label>-->

                        <!--<div class="col-md-6">-->
                            <!--<div ng-repeat="scope in scopes">-->
                                <!--<div class="checkbox">-->
                                    <!--<label>-->
                                        <!--<input type="checkbox" ng-click="toggleScope(scope.id)" ng-checked="scopeIsAssigned(scope.id)">-->
                                        <!--[[ scope.id ]]-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-button__ok md-primary" ng-click="store($event)">
                <span> Создать</span>
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</form>