<form role="form" name="createApp" novalidate>
    <md-dialog aria-label="Dialog" style="width: 600px;">
        <md-dialog-content class="md-dialog-content" style="padding-bottom: 0px;">
            <h2 class="md-title ng-binding">
                Создание  ID приложения
            </h2>
            <div flex>

                <md-input-container class="container-account md-block" ng-class="{ 'has-error' : createApp.name.$invalid && !createApp.name.$pristine }">
                    <label>Отображаемое название</label>
                    <input id="name" type="text" name="name" ng-maxlength="20" maxlength="20" class="index-color_bg" ng-model="createForm.name" required/>
                    <span ng-show="createApp.name.$invalid && !createApp.name.$pristine" class="text-danger">Не указано название приложения</span>
                    <p>
                        Имя приложения. Используется для экранов авторизации.
                    </p>
                </md-input-container>

                <md-input-container class="container-account md-block" ng-class="{ 'has-error' : createApp.description.$invalid && !createApp.description.$pristine }">
                    <label>Описание</label>
                    <textarea id="description" name="description" ng-minlength="5" md-maxlength="1000" rows="3" class="index-color_bg" ng-model="createForm.description" required></textarea>
                    <span ng-show="createApp.description.$invalid && !createApp.description.$pristine" class="text-danger">
                        Не указано описание приложения
                    </span>
                </md-input-container>

                <md-input-container class="container-account md-block" ng-class="{ 'has-error' : createApp.website.$invalid && !createApp.website.$pristine }">
                    <label>Веб сайт</label>
                    <input id="website" type="url" name="website" class="index-color_bg" ng-model="createForm.website" required/>
                    <span ng-show="createApp.website.$invalid && !createApp.website.$pristine" class="text-danger">
                        Не указан адрес сайта
                    </span>
                </md-input-container>

                <md-input-container class="container-account md-block" ng-class="{ 'has-error' : createApp.redirect.$invalid && !createApp.redirect.$pristine }">
                    <label>Callback URL</label>
                    <input id="redirect" type="url" name="redirect" class="index-color_bg" ng-model="createForm.redirect" required/>
                    <span ng-show="createApp.redirect.$invalid && !createApp.redirect.$pristine" class="text-danger">Не указан адрес сайта</span>
                </md-input-container>

                <p class="warning-callback">
                    Для доступа к "developer.marketx.cc" используйте введите адрес <br />
                    https://docs.marketx.cc/oauth2-redirect.html
                </p>


                <div class="block-error" ng-if="createForm.errors.length > 0">
                    <div class="block-error__text block-error__center" ng-repeat="error in createForm.errors">
                        <span ng-bind="error"></span>
                    </div>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-button__cancel  md-primary" ng-click="cancel()">
                Отмена
            </md-button>
            <md-button class="md-button__ok md-primary" ng-disabled="createApp.$invalid" ng-click="createApp.$valid && store($event)">
                Создать
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</form>