<form class="form-horizontal" role="form">
    <md-dialog aria-label="Dialog" style="width: 600px;">
        <md-dialog-content class="md-dialog-content" style="padding-bottom: 0px;">
            <h2 class="md-title ng-binding">
                <span data-i18n="common.twitter_dialog_title"></span>
            </h2>
            <div flex>
                <div class="row" >


                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" ng-if="editForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li ng-repeat="error in editForm.errors">
                                    [[error]]
                                </li>
                            </ul>
                        </div>

                            <!-- Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>

                                <div class="col-md-7">
                                    <input id="edit-client-name" type="text" class="form-control"
                                           ng-model="editForm.name">

                                    <span class="help-block">
                                        Something your users will recognize and trust.
                                    </span>
                                </div>
                            </div>

                            <!-- Redirect URL -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Redirect URL</label>

                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="redirect"
                                           ng-model="editForm.redirect">

                                    <span class="help-block">
                                        Your application's authorization callback URL.
                                    </span>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-button__ok md-primary" ng-click="update($event)">
                <span> Обновить</span>
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</form>