<div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>
                            Personal Access Tokens
                        </span>

                    <a class="action-link" ng-click="showCreateTokenForm()">
                        Create New Token
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <!-- No Tokens Notice -->
                <p class="m-b-none" ng-if="tokens.length === 0">
                    You have not created any personal access tokens.
                </p>

                <!-- Personal Access Tokens -->
                <table class="table table-borderless m-b-none" ng-if="tokens.length > 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="token in tokens">
                        <!-- Client Name -->
                        <td style="vertical-align: middle;">
                            [[token.name]]
                        </td>

                        <!-- Delete Button -->
                        <td style="vertical-align: middle;">
                            <a class="action-link text-danger" ng-click="revoke(token)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>