.panel {
    border-radius: 0px;
    margin-bottom: 20px;
    border-width: 0;
    color: #333333;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel-heading {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.text-size-small {
    font-size: 12px;
}

.text-muted {
    color: #777777;
}