body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    height: 100%;
    width: 100%;
    background: #e7ebf0;
    position: absolute;
    padding: 0;
    margin: 0;
}

.good_browser
{
    display:inline-block;
    padding:20px 20px 15px;
    margin:0 10px;
    border-radius:2px;
    font-weight:500;
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing:auto;
    font-size:14px
}

.good_browser:hover
{
    background-color:#f5f7fa;
    text-decoration:none
}

.browser_icon
{
    height: 80px;
    width: 80px;
    background: url(/images/browsers.png) no-repeat 0 0;
    margin: 0 auto;
    margin-bottom: 15px;
}

.browser_icon.firefox
{
    background-position:0 -82px
}

.browser_icon.chrome
{
    background-position:0 -164px
}

.good_browsers span
{
    font-weight: bold;
}

.bad_browser_wrap {
    position: absolute;
    left: 0;
    right: 0;
    width: 600px;
    margin: 50px auto;
    line-height: 160%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 0 0 #d9d9d9, 0 0 0 1px #d9d9d9;
}

.bad_browser_content
{
    padding: 40px;
}

.bad_browser_wrap h2
{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top:0
}
.bad_browser_text{font-size:14px;line-height:160%;margin:25px 0 30px}

.good_browsers
{
    text-align: center;
}