body {
    color: #3e4855;
    *background: #ededed;
    background: #edeff3;
    font-family: 'Roboto', Arial, "Droid Sans", sans-serif !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    overflow: hidden;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #3f51b5;
}

.pagination>li>a, .pagination>li>span {
    padding: 8px 15px;
    border: none ;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #3f51b5;
}

.check-payment-button {
}
.check-payment-btn {
    box-shadow: none !important;
    border-radius: 3px;
    padding: 2px 18px !important;
    background-color: #5b37ec !important;
    color: #fff !important;
    font-size: 13px !important;
}

.body-background {
    position: relative;
    overflow: hidden;
}

.tx-header {
    padding-top: 10px;
}

.tx-header .pagination {
    margin: 0 !important;
}

.pagination-right {
    text-align: right;
    padding: 0 5px;
}

.pagination-right-top .pagination{
    padding: 0 !important;
    margin: 0;
}

.error-task {
    text-align: center;
    font-size: 14px;
    padding-bottom: 100px !important;
    padding-top: 100px;
    color: #999;
}
.error-task > span {
    font-size: 3em;
    padding-bottom: 20px;
}


md-bottom-sheet.md-grid md-list-item .md-grid-item-content {
    border: 1px solid transparent;
    width: 150px;
}
md-bottom-sheet.md-grid md-list-item .md-grid-text{
    width: 150px;
}

body.md-default-theme, body, html.md-default-theme, html, .body-background {
    background: #f6f5f8;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

a {
    color: #0275d8;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }
a:hover, a:focus {
    text-decoration: none; }

a:hover {
    color: #000000;
}

md-sidenav {
    /*background-color: #2d3248;*/
    /*width: 390px !important;*/
    overflow-x: hidden !important;
}


.left-sidenav {

}

.left-sidenav .md-subheader {
    color: #fff;
    font-size: 13px;
    line-height: 1.4;
    opacity: .75;
    background-color: #24293e;
}

.left-sidenav .sidenav-footer {
    background: #262b42;
    text-align: center;
}

.left-sidenav {
    background: #edf0f8;
}

md-list-item.md-3-line, md-list-item.md-3-line>.md-no-style {
    background: #fff;
}


.left-sidenav md-content {
    background: transparent !important;
    padding-bottom: 45px;
}

.left-sidenav md-tabs .md-tab {
    color: rgb(86 86 86 / 54%);
}

.left-sidenav md-tabs .md-tab.md-active {
    color: rgb(33,150,243) !important;
}

.left-sidenav md-content::-webkit-scrollbar-thumb {
    background-color: #d2d8ff38;
    border-radius: 9px;
    min-height: 50px;
}

.left-sidenav md-content::-webkit-scrollbar {
    width: 5px;
}


.live-list {

}

.live-list .id {
    color: #fff;
    font-size: 11px;
    line-height: 1.5;
}

.live-list .name {
    line-height: 1.6 !important;
    font-size: 14px  !important;;
    font-weight: 400 !important;
    color: #ffffff !important;
}

.live-list .md-list-item-text p{
    color: #999 !important;
    font-weight: 100 !important;
    font-size: 12px !important;
}

.live-list .md-secondary {
    color: #999999
}

.live-bg-10 {
    background-color: #a70000 !important;
}

.live-bg-2 {
    background-color: #637886 !important;
}

.live-bg-9 {
    background-color: #ab804b !important;
}

.live-bg-3 {
    background-color: #2196f3 !important;
}

.live-bg-4 {
    background-color: #4caf50 !important;
}

.live-bg-5,.live-bg-6 {
    background-color: #b10c00 !important
}

.live-bg-7 {
    background-color: #af4c88 !important;
}

.live-bg-8 {
    background-color: #b2ba0f !important;
}

.live-line-2 {
    border-left: 3px solid #7b93a3;
}

.toolbar-status {
    background-color: rgba(56, 56, 56, 0.54);
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.84);
    margin-right: -15px;
    text-transform: uppercase;
}

.check-payment-button {
    padding: 5px;
    text-align: center;
}

.two-column-toolbar {
    background-color: #fff;
    z-index: 1;
}

.two-column-toolbar-hold {
    background-color: #fff4d4;
}

.progress-please-wait {
    background-color: #010002;
    height: 100%;
    left: 0;
    opacity: .35;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.progress-please-wait-scroll {
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1000;
}

.bootstrap-select .btn-default.dropdown-toggle {
    height: 35px;
}

.bootstrap-select .btn-default {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
}

.bootstrap-select .dropdown-menu.open {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}


.dropdown-menu {
    font-size: 13px;
    line-height: 1.6em;
    padding: 5px 0;
    text-transform: none;
    border: 0;
    min-width: 150px;
}
.bootstrap-select.btn-group .dropdown-menu li a{
    outline: none;
}

.btn-default.dropdown-toggle
{
    background-color: #ffffff !important;
    color: #000000 !important;
    line-height: 23px;
    height: 40px;
    box-shadow: none;
    border: 1px solid #d9d9d9;
}
.btn-default.dropdown-toggle:hover, .btn-default.dropdown-toggle:focus {
    background-color: #f9f9f9 !important;
    color: #000000 !important;
    box-shadow: none;
    border: 1px solid #d9d9d9;
}

.dropdown-menu li>a, .ui-menu li>a {
    padding: 8px 15px !important;
}

.bootstrap-select .dropdown-menu ul .selected {
    background-color: #e9e9e9;
}

.widget-application {
    position: relative;
    padding: 21px 20px;
}


.widget-app-item {

    border-right: 1px solid #e9e9e9;
}
.widget-app-item:last-child {
    border-right: none;
}

.order-data-ban-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
}
.widget-application-wrap {
}

.widget-application-head {
    color: #999;
    font-size: 13px;
}

.widget-application-title {
    font-size: 22px;
    line-height: 2;
    font-weight: 500;
}

.widget-application .st-base-name {
    text-align: left;
    padding-left: 0;
    font-size: 22px;
}

.widget-application-foot {
    color: #c8c1c1;
    font-size: 12px;
}

.widget-application-datetime {
    color: #f5707a;
}

.widget-application-id {
    color:#43ce47;
}

.widget-application-ip {
    color:#3ac9d6;
}

.widget-application-layout {
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


.item-detail-error {
    font-size: 14px !important;
    color: #b11212 !important;
    padding: 15px !important;
}

.two-column-toolbar .item-detail {
    padding: 10px;
    text-align: center;
}

.two-column-toolbar .item-detail div.amount {
    font-size: 20px;
}


.two-column-toolbar .item-detail div {

}


.live-operator-color {
    color: #fc6d41 !important;
}



.live-line-3 .status {
    color: #2196f3;
}

.live-line-4 .status {
    color: #4caf50;
}


.live-line-6 .status, .live-line-5 .status {
    color: #f44336;
}



.live-line-7 .status {
    color: #af4c88;
}



.live-line-8 .status {
    color: #b2ba0f;
}


.live-line-8 .icon-status__event {
    color: #b2ba0f;
}
.live-line-7 .icon-status__event{
    color: #af4c88;
}

.live-line-6 .icon-status__event , .live-line-5  .icon-status__event {
    color: #f44336;
}

.live-line-4 .icon-status__event {
    color: #4caf50;
}


.live-operator .icon-status__event {
    color: #fc6d41 !important;
}


.live-line-3 .icon-status__event{
    color: #2196f3;
}

.live-search {
    position: relative;
    width: 100%;
    min-height: 45px;
    border-bottom: solid 1px #ddd;
}

.live-search .icon {
    margin-left: 6px;
    color: #999;
}

.live-search input::placeholder {
    color:  #888;
    opacity: .55;
}
.live-search input {
    outline: 0;
    color: #000;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: transparent;
    width: 100%;
    box-sizing: border-box;
    margin-right: -22px;
    border-left: 35px solid transparent;
    padding-right: 45px;
    height: 44px;
    font-size: 14px;
}

.live-search button{
    position: absolute;
    right: 0;
    top: 3px;
}

.live-search button .icon {
    margin: 0;
}

.application-detail-item {
    padding: 15px 0;
    margin: 0;
}

.application-detail-data {
    padding-bottom: 15px;
}

.application-detail-description {
    display: block;
    word-wrap: break-word;
    margin-left: 15px;
}

.application-detail-description ul
{
    padding: 0;
}
.application-detail-description ul li {
    list-style-type: none;
}

.application-detail-description h4 {
    margin-top: 0;
    color: #000000 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
}

.application-detail-description > div {
    margin-left: 10px;
    font-size: 14px;
}

.application-detail-key {
    color: #000000;
    font-weight: 600;
    font-size: 13px;
}

.application-detail-value .a-click:hover {
    text-decoration: underline;
}

.application-detail-value .abs-payment {
    position: absolute;
    right: 10px;
    top: -6px;
}

.application-detail-value.price {
    font-size: 14px !important;
}

.speed-notification-order {
    background: #5f5f5f;
    color: #d4d4d4;
    margin-right: -20px;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 8px 0 0 8px;

}

.speed-notification-order span {
    font-size: 14px;
    color: #fff;
}


.application-detail-value {
    display: block;
    word-wrap: break-word;
    font-size: 13px;
}

.application-detail-value ul
{
    padding: 0;
}
.application-detail-value ul li {
    list-style-type: none;
}


.application-detail-tabs .md-tab {
    text-transform: none;
    font-size: 13px;
}


/*.application-detail-data .flex-33 {*/
/*    padding-right: 15px;*/
/*}*/


.application-detail-footer {
    /* margin-left: -10px; */
    /* margin-right: -10px; */
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 7px 25px -5px #ccc, 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #e9e9e9;
}

.x_panel
{
    /*-webkit-box-shadow: 0 7px 25px -5px #ccc, 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0); *!*/
    /*!* box-shadow: 0 7px 25px -5px #ccc, 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0); *!*/
position: relative;
    padding: 0;
    background: #fff;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
    border: 1px solid #d9d9d9;
}
.x_title {
    color: #333333;
    background-color: #f6f6f6;
    border-color: #ddd;
    position: relative;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.x_title .filter {
    width: 40%;
    float: right
}
.x_title h2
{
    font-size: 14px;
    line-height: 1.4285715;
    padding: 0;
    margin: 0;
}

.x_title h2 small {
    margin-left: 10px
}

@media (min-width: 1000px)
{
    .padding-right {
        padding-right: 10px;
    }
}

.md-button {
    padding: 0 12px;
}

.md-success {
    color: rgba(255,255,255,0.87) !important;
    background-color: #009688 !important;
}

.md-success-2 {
    color: #FFF !important;
    background-color: #258E5F !important;
}

.md-success-3 {
    color: #FFF !important;
    background-color: #5e17d1 !important;
}

.md-danger {
    color: #FFF !important;
    background-color: #ff0000 !important;
}

md-toolbar {
    min-height: 56px !important;
    height: 56px !important;
}

/*.top-toolbar-sidenav .icon {*/
    /*color: #999;*/
/*}*/

/*.top-toolbar-sidenav {*/
/*    background-color: #141721 !important;*/
/*}*/

.top-toolbar-sidenav a:hover {
    color: #f1f1f1 !important;
}

.toolbar-error {
    background-color: rgb(173, 17, 17) !important;
}

.md-button {
    text-transform: none;
    font-size: 13px;
    min-height: 33px;
    line-height: 33px;
    font-weight: normal !important;
}

md-menu-item>.md-button {
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
}

.live-list .md-secondary-container > div {
    color: #dbdbdb;
    font-size: 11px;
    text-align: right;
}

.live-list .md-secondary-container > div > div{
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1.5 !important;
}

.live-list .md-secondary-container .status {
    font-size: 10px;
}

.left-sidenav .sidenav-footer {
    background: linear-gradient(0deg,rgb(255 255 255) 40%,rgba(19,25,36,0) 100%) !important;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 15px;
}

.sidenav-footer md-switch {
    margin: 8px 0 !important;
}

.footer-detail {
    width: 100%;
    background-color: #f5f5f5;
    z-index: 5;
    padding-right: 10px;
}
.footer-detail .md-warn.md-raised {
    background-color: #4d4d51 !important;
}

.footer-detail .md-button {
    box-shadow: none !important;
    border-radius: 5px;
    padding: 2px 18px;
}

.md-frozen {
    background-color: #b2ba0f !important;
    color: #fdffcc !important;
}
.md-frozen[disabled] {
    opacity: .4;
}


.footer-detail .md-button.md-raised:not([disabled]) {
}

.footer-detail .text-danger {
    color: #ff1313;
}

.margin-top-55 {
    margin-top: 55px;
}

.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    height: 24px;
    vertical-align: middle; }

.bottomSheetdemoBasicUsage .md-grid-item-content {
    height: 90px;
    padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
    font-size: 48px;
    height: 48px;
    width: 48px; }

.bottomSheetdemoBasicUsage .md-grid-text {
    padding-bottom: 5px; }

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
    min-height: 48px; }

.bottomSheetdemoBasicUsage h2 {
    line-height: 36px;
    padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
    padding: 0; }

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
    background-color: #B14141; }

.bottomSheetdemoBasicUsage md-toast > * {
    font-weight: bolder; }

.table > thead > tr>th:first-child,
.table > tbody tr>th:first-child,
.table > tbody tr>td:first-child {
    padding-right: 0 !important;
    padding-left: 20px !important;
}

.table > thead > tr > th {
    border-bottom: 1px solid #bbb;
}

.table-border-2 thead tr th{
    font-weight: 600;
    font-size: 13px;
    color: #000;
}

.table-border-2 thead th:focus {
    outline: none;
}

.table-border-2 {
    border: 1px solid transparent;
}

.table-border-2 thead th {
    border-bottom: 1px solid #e1e1e1 !important;
}


.table-border-2>tbody>tr {
    border-left: 0 solid #77bbdc;
}

.table-border-2>tbody>tr>td ,
.table-border-2>tbody>tr>th {
    vertical-align:middle;
    font-size: 13px;
}


.table-border-2>tbody>tr.important-task {
    border-left: 4px solid #09b33c;
    background-color: #e6ffed;
}


.table-border-2>tbody>tr.important-warning {
    border-left: 4px solid #d9e000;
    background-color: #feffde;
}

.table-border-2>tbody>tr.important-time_over,
.table-border-2>tbody>tr.important-error {
    border-left: 4px solid #d11313;
    background-color: #ffe8e8;
}

.table-border-2>tbody>tr.important-handler {
    border-left: 4px solid #878787;
    background-color: #f0f0f0;
}


.st-base-name {
    padding: 7px 15px;
    border-radius: 5px;
    color: #fff;
    width: 155px;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

.st-base-name i {
    margin-right: 5px;
}

.st-delete {
    background: rgba(215, 28, 15, 0.12);
    color: #d60202;
}

.st-new {
    background: rgba(33, 150, 243, 0.12);
    color: #2196f3;
}

.st-handler {
    background: rgb(235 246 255);
    color: #2196f3;
}

.st-frozen {
    background: #b2ba0f;
}

.st-pending-payment
{
    background: rgba(123, 147, 163, 0.12);
    color: #7b93a3;
}


.st-success {
    background: #e0fae8;
    color: #5ca370;
}

.st-merchant {
    background: rgba(175, 76, 136, 0.12);
    color: #af4c88;
}

.st-process-payment {
    background: rgb(255 243 228);
    color: #ab804b;
}

.st-handler-operator {
    background: rgb(255 241 236);
    color: #fc6d41;
}

.st-cancel {
    background: rgba(227, 227, 227, 0.16);
    color: #969494;
}


.st-error {
    background-color: #a70000;
}

/**
*/

.st-delete-color {
    color: #f44336;
}

.st-new-color {
    color: #2196f3;
}

.st-handler-color {
    color: #2196f3;
}

.st-process-payment-color {
    color: #ab804b;
}

.st-pending-payment-color
{
    color: #7b93a3;
}
.st-success-color {
    color: #4caf50;
}

.st-frozen-color {
    color: #b2ba0f;
}

.st-handler-operator-color {
    color: #fc6d41;
}

.st-cancel-color {
    color: #333;
}


.st-error-color {
    color: #a70000;
}

.st-merchant-color {
    color: #af4c88;
}

md-switch.md-default-theme.md-checked.md-switch-success .md-thumb, md-switch.md-checked.md-switch-success .md-thumb {
    background: #21911a !important;
}
md-switch.md-default-theme.md-checked.md-switch-success .md-bar, md-switch.md-checked.md-switch-success .md-bar {
    background-color: rgba(33, 145, 26, 0.66) !important;
}

.md-switch-success.ng-not-empty span {
    color: #21911a;
}

.md-switch-success.ng-empty span {
    color: #979797;
}

.md_simple_form_description {
    color: #777;
    line-height: 160%;
    margin: 0 0 10px;
}

.md_simple_form_description h4 {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color:#ff0000;
}

.md_simple_form_description_com {
    color: #555;
    line-height: 1.4;
    margin: 0 0 10px;
}

.md_simple_form_description_com h4 {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color:#000000;
}


.item-dialog-fixed {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;
    background: rgba(0,0,0,.55);
    overflow-y: auto;
    overflow-x: hidden;
}

.item-dialog-preview {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 250px;
    margin: 25px auto;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    /* right: 50%; */
}

.item-dialog-preview md-dialog {
    overflow: hidden!important;
    border-radius: 0;
}

.item-dialog-close {
    position: absolute;
    top: 0;
    right: 14%;
}

.item-dialog-close md-icon {
    color: #fff!important;
}


.requisites-dialog md-select {
    margin: 0;
}

.md-toast-error .md-toast-content {
    background-color: #b10808;
}

.md-toast-success .md-toast-content {
    background-color: #40a516;
}

.isScam {
    padding: 20px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    border-radius: .25rem;
    text-align: center;
    font-size: 14px;
}


.ui-dialog-titlebar {
    position: relative;
    padding: 15px 15px 15px 20px;
    background-color: #303F9F;
    border-color: #303F9F;
    color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: none;
}

.ui-dialog-title {
    float: left;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 1px #333;
}

.modal-content[class*=bg-] .modal-header .close, .modal-header[class*=bg-] .close, .modal-content .ui-dialog-titlebar .close {
    color: #fff;
}

button.close {
    outline: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-content {
    border: none;
}

.modal-footer .btn {
    margin-bottom: 0;
}


.warning-recount {
    font-size: 16px;
    cursor: pointer;
    color: #ed6a0d;
}
a {
    color: #3f50b5;
}

.toolbar-info-orders {

}

.toolbar-info-orders-1 {
    font-size: 12px;
    color: #82ff85;
    margin-right: 10px;
}

.toolbar-info-orders-2 {
    color: #f4a6a0;
    font-size: 12px;
}

.toolbar-info-orders-1 md-icon {
    color: #2ec333 !important;
    fill: #2ec333 !important;
    box-shadow: 2px 2px 32px 0 rgba(0,0,0,.08);
    font-size: 17px;
    width: 17px;
    height: 17px;
    line-height: 24px;
}

.toolbar-info-orders-2 md-icon {
    color: #f44335 !important;
    fill:  #f44335 !important;
    box-shadow: 2px 2px 32px 0 rgba(0,0,0,.08);
    font-size: 17px;
    width: 17px;
    height: 17px;
    line-height: 24px;
}

/*md-sidenav, .top-toolbar-sidenav {*/
/*    background-color: rgba(15,23,42,1)!important;*/
/*}*/

.tx-abs-count-orders {
    font-size: 13px;
    color: #999;
    margin-top: 5px;
}

.show-button-toggle {
    display: none;
}

@media (min-width: 100px) and (max-width: 599px)
{
    .show-button-toggle {
        display: block;
    }

    .footer-detail {
        padding: 0px;
    }

    .new-exchange-panel-list__item .st-base-name {
        width: 100%;
    }

    .new-exchange-list__li-info {
        display: block;
    }

    .new-exchange-list__details-icons {
        position: relative !important;
        top: 0 !important;
    }

    .new-exchange-list__order-title {
        padding-top: 10px !important;
    }

    .status-item {
        padding: 10px !important;
        margin-top: 10px !important;
    }

    .toolbar-order-detail {
        padding: 20px 5px !important;
    }
}


@media (min-width: 600px) and (max-width: 960px)
{
    .show-button-toggle {
        display: block;
    }
}

@media (min-width: 960px) and (max-width: 1279px)
{
    .show-button-toggle {
        display: block;
    }
}


[data-toggle="collapse"].collapsed .if-not-collapsed,
[data-toggle="collapse"].collapsed .if-not-collapsed2{
    display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed,
[data-toggle="collapse"]:not(.collapsed) .if-collapsed2{
    display: none;
}

.tx-bn-show {
    color: #404040 !important;
}

.table-order-job {
    background: #fff1ec !important;
}

.table-order-successful {
    background: honeydew !important;
}

.table-order {
    margin: 0;
    border: none;
}

.table-order thead tr {
}

.table-order tbody tr  {
    border-top: 1px solid #e9e9e9;
}

.table-order>tbody>tr>th, .table-order>tbody>tr>td {
    border: none;
}

.live-list md-divider{
    border-top-color: rgba(99, 83, 83, 0.12);
}

.task-filter-title {
    border-bottom: 1px solid #e6e7e7;
    color: #303f9f;
    font-weight: 500;
    margin-right: -20px;
    margin-left: -20px;
    line-height: 2;
    padding-left: 20px;
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 16px;

}

.bootstrap-select .btn-default.dropdown-toggle {
    height: 35px;
}


.task-filter-body {
    padding-left: 20px;
    padding-right: 20px;
}

.task-filter-content .control-label {
    font-weight: 500;
}

.x_content_filters .x_content {
    background: #fff;
}

.x_content_filters .x_title {
    padding: 0;
    border: none;
    background-color: #fff;
}

.default-panel-footer {
    padding: 1.5rem;
    background-color: rgba(248,250,252, 1);
    border-top: 1px solid #e2e8f0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}

.padding-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.x_content_filters .x_title {
    color: #333;
    position: relative;
    border-radius: 0;
    min-height: 45px;
    vertical-align: middle;
}

.x_panel__padding {
    padding:10px
}

.x_panel {
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    -webkit-box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border:none;
}

.nav-tabs-solid-header {
    padding: 1px;
}


.nav-tabs-solid { border-bottom: 0 solid #DDD; }
.nav-tabs-solid > li.active > a, .nav-tabs-solid > li.active > a:focus { border-width: 0; }
.nav-tabs-solid > li > a { border: none; color: #666; }
.nav-tabs-solid > li.active > a, .nav-tabs-solid > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs-solid > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs-solid > li.active > a::after { transform: scale(1); }
.panel-tab-content, .panel-tab-content .tab-pane{padding:0;}



.nav-tabs-solid>li.active>a, .nav-tabs-solid>li.active>a:focus, .nav-tabs-solid>li.active>a:hover {
    border: 0 solid #ddd !important;
}



.x_content_filters  .form-horizontal .control-label {
    font-size: 13px;
}


.x_content_filters .form-check {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.3rem;
}

.x_content_filters .form-check-input[type="checkbox"]:not(:checked), .x_content_filters .form-check-input[type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.x_content_filters .form-check-v2 {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.x_content_filters .form-check-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 15px;
    height: 17px;
    opacity: 0;
    margin: 0 !important;
    padding: 0 !important;
}


.x_content_filters .form-check-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-left: 6px;
    padding-top: 3px;
}

.x_content_filters .form-check-label::before {
    border-radius: .30rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.x_content_filters .form-check-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.x_content_filters .form-check-input:checked ~ .form-check-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
    border-radius: .35rem;
}

.x_content_filters .form-check-input:checked ~ .form-check-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.x_content_filters .form-check-label {
    margin-bottom: 0;
    font-weight: normal;
}

.x_content_filters label {
    font-size: 13px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

.x_content_filters  .form-group {
    margin-bottom: 0;
}

.x_content_filters  .md-button.md-icon-button {
    border-radius: 10px;
}

.x_content_filters .md-button.md-icon-button .md-ripple-container {
    border-radius: 10px !important;
}

.x_panel__padding .pagination-right {

}

.form-control, .single-line {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
}

.padding-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    margin-top: 5px;
}.warning-recount {
     font-size: 16px;
     cursor: pointer;
     color: #ed6a0d;
 }
a {
    color: #3f50b5;
}

.toolbar-info-orders {

}

.toolbar-info-orders-1 {
    font-size: 12px;
    color: #82ff85;
    margin-right: 10px;
}

.toolbar-info-orders-2 {
    color: #f4a6a0;
    font-size: 12px;
}

.toolbar-info-orders-1 md-icon {
    color: #2ec333 !important;
    fill: #2ec333 !important;
    box-shadow: 2px 2px 32px 0 rgba(0,0,0,.08);
    font-size: 17px;
    width: 17px;
    height: 17px;
    line-height: 24px;
}

.toolbar-info-orders-2 md-icon {
    color: #f44335 !important;
    fill:  #f44335 !important;
    box-shadow: 2px 2px 32px 0 rgba(0,0,0,.08);
    font-size: 17px;
    width: 17px;
    height: 17px;
    line-height: 24px;
}

.top-toolbar {
    background-color: #3f51b5;
    color: rgb(255,255,255);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.edit-pencil-link {
    color: #e31d1d;
    margin-left: 3px;
}

.show-button-toggle {
    display: none;
}

.show-button-toggle-filter {
    display: block;
}


.footer-detail-mobile {
    display: none;
}


[data-toggle="collapse"].collapsed .if-not-collapsed,
[data-toggle="collapse"].collapsed .if-not-collapsed2{
    display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed,
[data-toggle="collapse"]:not(.collapsed) .if-collapsed2{
    display: none;
}

.tx-bn-show.collapsed md-icon{
    color: #fff !important;
}

.tx-bn-show.collapsed:hover md-icon{
    color: #f8f8f8  !important;

}

.tx-bn-show md-icon{
    color: #b3d2e7 !important;
}

.table-order thead tr {
}

.table-order thead tr th {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    color: #989898;
    border: none;
}


.task-filter-title {
    border-bottom: 1px solid #e6e7e7;
    color: #303f9f;
    font-weight: 500;
    margin-right: -20px;
    margin-left: -20px;
    line-height: 2;
    padding-left: 20px;
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 16px;

}

.bootstrap-select .btn-default.dropdown-toggle {
    height: 35px;
}


.task-filter-body {
    padding-left: 20px;
    padding-right: 20px;
}

.task-filter-content .control-label {
    font-weight: 500;
}

.form-control, .single-line {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
}

.padding-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    margin-top: 5px;
}


.x_panel-tx {
    border: none;
    border-radius: 15px;
}

.margin-right-10 {
    margin-right: 10px
}



@media (min-width: 100px) and (max-width: 599px)
{
    .item-dialog-preview {
        width: 100% !important;
    }

    .item-dialog-preview md-dialog {
        width: 100% !important;
        margin: 0 auto;
        max-width: 98%;
    }

    .item-dialog-preview .md-toolbar-tools {
        font-size: 16px;
    }

    .footer-detail {
        padding: 0px !important;
    }

    .md_simple_form_description_com {
        font-size: 12px;
    }


    .footer-detail-mobile {
        display: block;
    }

    .footer-detail .md-button {
        text-transform: none;
        border-radius: 3px;
        padding: 1px 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .show-button-toggle {
        display: block;
    }

    .show-button-toggle-filter {
        display: none;
    }
}


@media (min-width: 600px) and (max-width: 960px)
{
    .show-button-toggle {
        display: block;
    }

    .show-button-toggle-filter {
        display: none;
    }
}

@media (min-width: 960px) and (max-width: 1279px)
{
    .show-button-toggle {
        display: block;
    }

    .show-button-toggle-filter {
        display: none;
    }
}


.my-stat-button {
    box-shadow: none !important;
    border-radius: 5px;
    background-color: #3f51b5 !important;
    color: #fff !important;
    padding-left: 15px;
    padding-right: 15px;
}

/*.my-stat-button:hover {*/
/*    color: #fff;*/
/*}*/


.application-comment-title {
    padding: 15px 10px;
    font-size: 17px;
    color: #7d849c;
}

.application-comment-title span {
    color: #424a75;
}

.toolbar-order-detail-right {
    padding: 22px 5px;
    margin-right: 0;
    height: 90px;
}

.toolbar-order-detail-right .md-button {
    box-shadow: none !important;
    border-radius: 5px;
    padding: 2px 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.status-item-tooltip {
    color: #d92817;
    padding-left: 9px;
    font-size: 18px;
    cursor: pointer;
}

.status-item-tooltip-frozen {
    color: #b2ba0f;
}

.order-detail-items {
    padding: 15px;
    padding-bottom: 0;
}


.order-detail-item {
    margin-bottom: 15px;
}

.order-detail-item-name {
    color: #afafaf;
    font-size: 13px;
    margin-bottom: 10px;
}

.order-detail-item-value {
}

.order-detail-item-value-amount {
    font-size: 15px;
}

.order-detail-telegram {
    color: rgb(30,136,229);
}

.order-detail-error {
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #9e0000;
    background: #fff7f7;
    padding: 10px;
    font-size: 13px;
}

.display-initial {
    display: initial;
}
.order-detail-is-verified {
    font-size: 14px;
    color: #138e11;
}
.padding-bottom-0 {
    padding-bottom: 0;
}

.order-detail-items-headline {
    background-color: #f6f5f8;
    padding: 10px;
    color: #6f6f6f;
}


.telegram-order {
    color: #179cde;
}
.alert-no-margin {
    margin: 0;
}

.tx-button-home {
    margin-top: -5px;
    margin-right: 5px;
    color: #1461ef !important;
    fill: #1461ef !important;
}


md-list-item.md-3-line, md-list-item.md-3-line>.md-no-style {
    height: auto;
    min-height: 88px;
    margin: 0 12px 4px;
    position: relative;
    border-radius: 0 10px 10px 0;
}


.order-current-item {
    background: #dedede36;
    pointer-events: none
}

.float-left { float:left; }
.float-right { float: right; }

.toolbar-order-detail {
    padding: 30px 20px;
}

.toolbar-order-detail > * {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
}

.toolbar-order-detail h2 {
    font-size: 25px;
    color: #7d849c;
    margin: 0;
    padding-right: 20px;
}

.toolbar-order-detail h2 span {
    color: #424a75;
    margin-left: 5px;
}

.order-detail-content-left {
    margin-left: 10px;
}

.order-detail-content-right {
    margin-right: 10px;
}

.status-item {
    padding: 5px 10px;
    font-size: 12px;
    width: auto;
    border-radius: 5px;
}

.order-detail-panel {
    position: relative;
    padding: 0;
    background: #fff;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.order-detail-title {
    color: #333;
    position: relative;
    border-radius: 0;
    min-height: 45px;
    vertical-align: middle;
    line-height: 1.4285715;
}

.order-detail-title > h2 {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 25px;
    margin: 0;
}

.order-detail-content {
}

.font-size-12 {
    font-size: 12px;
}

.order-detail-divider {
    border-top-color: rgb(0 0 0 / 5%);
}

.order-detail-card-info {
    margin-left: 5px;
}

.order-detail-card-info i {
    color: #3f50b5;
}


.order-detail-items-footer {

}

.order-detail-items-footer > a {
    border-right: 1px solid #e9e9e9;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
}

.detail-add-reserve-disable {
    color: #797979;
    font-size: 11px;
    padding-left: 0;
}

.order-detail-restore-button {
    font-size: 13px;
    color: #2196f3;
    border: 1px solid #99d2ff;
    padding: 8px;
    background: #def0ff;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
}

.order-detail-reject-button {
    font-size: 13px;
    color: maroon;
    border: 1px solid #ffcfcf;
    padding: 8px;
    background: #fff1f1;
    border-radius: 5px;
    display: block;
}


.detail-add-reserve {
    margin-top: 5px;
    font-size: 12px;
}

.detail-add-reserve a {
    color: #ff8761;
}

.detail-add-reserve a:hover {
    text-decoration: underline;
}

.order-detail-items-footer a:last-child {
    border: none;
}
.order-detail-items-footer > a i {
    font-size: 14px;
    margin-right: 5px;
}

.order-detail-items-footer > a span {
    font-size: 13px;
}
.order-detail-telegram {
    border: none !important;
}

.st-basename-custom {
    background: transparent;
    font-size: 17px;
    line-height: normal;
    width: 100%;
}

.application-comment {
    padding-top: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 0.5em;
    column-gap: 0.5rem;
}

.application-comment .application-comment-item {
    position: relative;
    padding: 15px;
    background-color: #fff9ad;
    word-break: break-all;
    border-radius: 15px;
}

.comment-style-blue {
    background-color: #bee0ff47 !important;
}

.comment-style-blue .comment-headline {
    color: #0876da;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 5px;
}

.comment-style-orange {
    background-color: #ffddb659 !important;
}

.comment-style-orange .comment-headline {
    color: #f19021;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 5px;
}

.comment-style-green {
    background-color: #d2ffd266 !important;
}

.comment-style-green .comment-headline {
    color: #0a980a;
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: 500;
}

.application-comment .application-comment-item-author {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 14px;
}

.application-comment .application-comment-item-time {
    font-weight: normal;
    float: right;
    color: #999;
    font-size: 11px;
}

.comment-style-green .application-comment-item-time {
    color: #1c901c;
}

.comment-style-blue .application-comment-item-time {
    color: #719dc5;
}

.comment-style-orange .application-comment-item-time {
    color: #bd8545;
}

.toolbar-bonus {
    border-left: 1px solid #d4d4d4;
    margin-left: 10px;
    color: #6d6d6d;
    padding-left: 10px;
}

.toolbar-bonus i {
    margin-right: 5px;
}


.x_content-custom .application-detail-key {
    color: #8e8e8e;
    font-weight: 500;
}

.x_content-custom .application-detail-item {
    padding: 10px 10px;
}

.x_content-custom {
    padding-bottom: 15px
}


.toolbar-nav a i {
    font-size: 24px;
    margin-left: 10px;
}

.application-detail-tabs md-tabs-wrapper{
    border-color: transparent;
    border-width: 0px !important;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.application-detail-tabs .md-tab {
    font-weight: 400;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 10px;
}
.application-detail-tabs .md-tab.md-active {
    background: #f6f5f8;
}

.application-detail-tabs md-ink-bar {
    background: none !important;
}


.order-detail-modal .modal-footer {
    border: none;
    padding: 10px;
}

.order-detail-modal .modal-footer button {
    box-shadow: none !important;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


.input-p-text {
    padding-top: 5px;
    font-size: 12px;
    color: #777;
}


.user-info-button-ban {
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.order-detail-title-collapse > a {
    padding: 20px 25px;
}

.order-detail-title-collapse h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.order-reserve-history-minus,  .order-reserve-history-plus {

}

.order-reserve-history-minus .order-detail-item-name {
    font-size: 12px;
    font-weight: 500;
}

.order-reserve-history-plus .order-detail-item-name {
    font-size: 12px;
    font-weight: 500;
}

.order-reserve-history-minus .order-detail-item-value {
    font-size: 18px;
    font-weight: 500;
    color: #ff7171;
}

.order-reserve-history-plus .order-detail-item-value {
    font-size: 18px;
    font-weight: 500;
    color: #09dc06;
}

.order-reserve-history-minus .order-detail-item-icon {
    font-size: 20px;
    background: #ffdddd;
    color: #b90e0e;
    border-radius: 10px;
    margin-right: 20px;
    padding: 12px 18px;
}

.order-reserve-history-plus .order-detail-item-icon {
    font-size: 20px;
    background: #e7ffdd;
    color: #28b90e;
    border-radius: 10px;
    margin-right: 20px;
    padding: 12px 18px;
}

@media (min-width: 100px) and (max-width: 599px)
{
    .application-detail-item .application-detail-value {
        text-align: left;
    }

    .application-detail-item {
        border-bottom: 1px solid #e9e9e9;
    }
    .application-detail-item:last-child {
        border-bottom: none;
    }

    .x_content-custom .application-detail-item  .application-detail-key {
        margin-bottom: 5px;
    }

    .widget-app-item {
        border-bottom: 1px solid #e9e9e9;
    }

    .widget-app-item:last-child {
        border-bottom: none;
    }



    .widget-application-title {
        font-size: 17px;
    }
    .widget-application .st-base-name {
        font-size: 17px;
    }

    .order-detail-title > h2 {
        font-size: 14px;
        padding: 20px 15px;
    }
    .order-detail-title-collapse h2 {
        font-size: 14px;
    }
    .order-detail-content-right {
        margin-left: 10px;
    }

    .application-comment {
        grid-template-columns: repeat(1,1fr);
    }

    .toolbar-order-detail h2 {
        font-size: 18px;
    }

    .speed-notification-order {

    }
}

.order-list-favorites-icon {
    margin-right: 6px;
    color: #ff8100;
    background: #ffeedd;
    border-radius: 5px;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}


.order-list-device-icon {
    margin-right: 6px;
    color: #3f51b5;
    background: #dee3ff;
    border-radius: 5px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.order-list-newbie-icon {
    margin-right: 6px;
    background: #f7f6f9;
    color: #7f828a;
    border-radius: 5px;
    font-size: 14px;
    width: auto;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.order-list-telegram-icon {
    margin-right: 6px;
    background: #c9edff;
    color: #0088cc;
    border-radius: 5px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
}


.order-list-aml-success-icon {
    margin-right: 6px;
    background: #e7ffe6;
    color: #19b70f;
    border-radius: 5px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
}
.order-list-aml-warning-icon {
    margin-right: 6px;
    background: #ffe8c0;
    color: #8a6d3b;
    border-radius: 5px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
}
.order-list-aml-danger-icon {
    margin-right: 6px;
    background: #ffd7d6;
    color: #a94442;
    border-radius: 5px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
}

.order-list-link-icon {
    margin-right: 6px;
    background: #f7f6f9;
    color: #7f828a;
    border-radius: 5px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.order-list-country-icon {
    margin-left: 5px;
}

.order-list-country-icon md-icon {
    width: 20px;
    height: auto;
    min-width: 10px;
    min-height: auto;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-11 {
    font-size: 11px;
}

.sidenav-menu-dot {
    font-size: 8px;
    vertical-align: middle;
    opacity: .6;
}


.order-list-wasted-time {
    margin-top: 4px;
    vertical-align: middle;
    font-size: 11px;
    text-align: center;
}


.order-list-black-list {
    color: #ff2525;
    font-size: 11px;
    text-align: left;
    margin-top: 10px;
}


.aml-detail__analytics {
    font-size: 11px;
    color: #878787;
    margin-top: 5px;
}

.toolbar-order-list {
    padding: 25px 20px;
}

.toolbar-order-list h2 {
    font-size: 25px;
    color: #000;
    margin: 0;
    font-weight: 400;
    padding-right: 20px;
}

.st-verification-pending-payment {
    background: #000000a8;
    color: rgb(229 229 229);
}


.aml-result__percent {
    font-size: 15px;
}

@media screen and (min-width: 769px) {
    .body-background md-content::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #eaeaea;
    }

    .body-background md-content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #bebebe;
    }

    .body-background md-content::-webkit-scrollbar {
        width: 5px;
        background-color: #eaeaea;
    }
}

.new-exchange-panel-list__item {
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: #fff;
    position: relative;
    margin: 10px 0 10px 10px;
    margin-top: 0 !important;
}

.new-exchange-panel-list__item:last-child {
    margin-bottom: 0;
}

.new-exchange-panel-list__head {
    font-size: 17px;
    font-weight: 400;
}

.new-exchange-panel-list__head .order-id span {
    color: #424a75;
}
.new-exchange-panel-list__head .order-id {
    color: #7d849c;
    margin-bottom: 5px;
    font-weight: 500;
}

.new-exchange-panel-list__head .order-direction-name {
    padding: 8px 0px;
    font-size: 19px;
}

.new-exchange-monitoring__bot {
    float: left;
    margin-top: -7px;
    margin-right: 5px;
    color: #22c10f;
}

.new-exchange__recalculation-value {
    display: block;
    color: #999;
    font-weight: 400;
    font-size: 11px;
}

.new-exchange__bg-red {
    background: #ffe2e2 !important;
}

.new-exchange__status-bot {
    text-align: center;
    padding: 15px;
    background: #e6ecff;
    border-radius: 10px;
    font-size: 14px;
    color: #233c8b;
    line-height: 1.8rem;
}

.new-exchange__status-bot-unred {
    text-align: center;
    padding: 15px;
    background: #fff8d9;
    border-radius: 10px;
    font-size: 14px;
    color: #8f7814;
    line-height: 1.8rem;
}

.new-exchange__status-bot-success {
    text-align: center;
    padding: 15px;
    background: #e6ffe8;
    border-radius: 10px;
    font-size: 14px;
    color: #097212;
    line-height: 1.8rem;
}


.new-exchange-list__order-title {
    font-size: 16px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.new-exchange-list__details-icons {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 6px 5px;
    border-radius: 0px 5px 0 10px;
    min-width: 150px;
}

.new-exchange-list__ul {

}

.new-exchange-list__li {
    margin-bottom: 3px;
}

.new-exchange-list__li-key {
    margin-right: 5px;
}


.new-exchange-list__ul-info {
    margin-top: 10px;
}

.new-exchange-list__li-info {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    word-break: break-all;
}

.new-exchange-list__li-info-bonus {
    background: #e0ffdb;
}

.new-exchange-list__li-key-info {
    margin-right: 5px;
    font-weight: 400;
    color: #646464;
}

.new-exchange-list__li-value-info {
    margin-right: 5px;
    font-weight: 500;
}

.new-event__edit-manager-order {
    text-align: center;
    padding: 12px;
    background: #ffd7d7;
    color: #a94442;
    border-radius: 10px;
    margin-top: 5px;
}

.new-event__waiting-requisites {
    padding: 12px;
    background: #fff9cc;
    color: #443d07;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
}

.new-event-verification__card {
    padding: 10px;
    text-align: center;
    color: rgb(229 229 229);
}

.application-comment-item-row {
    padding-left: 5px;
    padding-right: 5px;
}



.new-event__order-chat {

}

.new-event__order-chat__white {
    background: #fff !important;
}
.new-event__order-chat__item
{
    position: relative;
    padding: 10px;
    background-color: #c9e1ff;
    word-break: break-all;
    border-radius: 5px;
}

.new-event__order-chat__item-time {
    font-weight: normal;
    float: right;
    color: #0a448d;
    font-size: 11px;
}

.new-event__order-chats {
    display: flex;
}


.new-exchange-panel__status {
    margin-left: 10px;
}

.new-exchange-panel__status .st-base-name {
    border-radius: 10px 10px 0 0;
}


.iex-order__copied {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.blockchain__link-order {
    font-size: 13px;
    margin-top: 12px;
    color: #878787;
}

.big-alert__aml-notify {
    text-align: center;
    padding: 20px;
    background: #db4646;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.big-alert__aml-notify-num {
    font-size: 27px;
    margin-top: 10px;
}

.order-pay-blockchain__link {
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
}


@media (min-width: 100px) and (max-width: 599px)
{

    .icon-status__event {
        display: none !important;
    }

    .toolbar-order-list {
        padding: 15px 0px;
    }

    .toolbar-order-list h2 {
        font-size: 20px;
    }

    .tx-abs-count-orders {
        font-size: 12px;
    }

    .new-exchange-panel-list__head .order-direction-name {
        font-size: 15px;
    }

    .live-item__time {
        text-align: left !important;
        font-size: 12px;
        margin-top: 10px;
        width: 100%;
        display: flex;
    }
    .live-item__time span {
        margin-right: 5px;
    }
}


.font-weight-500 {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: 700;
}
