body {
    color: #3e4855;
    *background: #ededed;
    background: #edeff3;
    font-family: "Roboto", Arial, "Droid Sans", sans-serif !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
}

.adaptive-table__input {
    float: none;
}

@media screen and (max-width: 1000px)
{
    .adaptive-table__input {
        float: right;
    }

    .iex-adaptive__table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .iex-adaptive__table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .iex-adaptive__table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .iex-adaptive__table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .iex-adaptive__table td:last-child {
        border-bottom: 0;
    }
}


.play-button__video {
    padding-right: 0 !important;
}

.video-instruction {
    margin-right: 10px !important;
    color: #707070 !important;
    margin-left: 0;
    display: flex !important;
    align-items: center;
    flex-direction: row;
    background: transparent;
}
.video-instruction i {
    margin-right: 5px;
}
.video-instruction:hover {
    background: transparent !important;

}

.video-instruction:hover {
    color: #000 !important;
}

.youtube-video .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    height: 100%;
    max-width: 1240px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

iframe#youtubevideo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.youtube-video .modal-footer {
    border: none;
    text-align: center;
    display: block;
    padding: 0;
}

.youtube-video .modal-content {
    background: none !important;
    border: none;
    box-shadow: none;
}


#close-video {
    color: #fff;
    font-size: 30px;
    outline: none;
    box-shadow: none;
    background: transparent;
    border: none;
    text-align: right !important;
    width: 100%;
}


.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 5px !important;
}

.control-label-br {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 13px;
    color: #999;
}

.input-options-alert-1 {
    background: #ffedd6;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.input-options-alert-1 ul li {
    margin-bottom: 10px;
}

.input-options-alert-1 ul li:last-child {
    margin-bottom: 0;
}

.input-options-alert-1 ul {
    margin-bottom: 0;
}


.setting-sidenav-menu-item > a {
    padding: 2rem 2rem;
    cursor: pointer;
}

.setting-sidenav-menu-item > a i {
    margin-right: 2.55rem;
}

.setting-sidenav-menu-item.active {
    background: #e5e7eb;
    border-radius: 10px;
}

.setting-sidenav-menu {
    margin: 10px;
}

.setting-sidenav-menu-item {
    margin-bottom: 5px;
    margin-top: 5px;
}

.divide-y>:not([hidden])~:not([hidden]) {
    border-top: 1px solid #e2e8f0;
}

.setting-sidenav {
    background: #f9fbfc !important;
    width: 400px;
    box-shadow: none;
    border-right: 1px solid #e2e8f0;
}

.setting-sidenav-menu i {
    font-size: 20px;
}

.setting-sidenav-menu .active .leading-6,
.setting-sidenav-menu .active i {
    color: #303F9F;
}


.setting-sidenav md-content {
    background: transparent;
}

.setting-toolbar {
    background: transparent !important;
    padding-top: 4rem;
    min-height: auto ;
    border-bottom: 1px solid #e9e9e9e9;
    padding-bottom: 4rem;
    margin-bottom: 0;
}

.setting-toolbar h1 {
    height: auto;
    min-height: auto;
    font-size: 23px;
    font-weight: 500;
}


.setting-toolbar .caret {
    margin-left: 10px;
    margin-top: 5px;
}

.setting-sidenav-menu li:hover {
    background: #e5e7eb !important;
    border-radius: 10px;
}

.setting-sidenav-title h2{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.5rem;
}

.setting-sidenav-wrapper {
    width: 100%;
    padding: 20px;
    background: #fff;
    padding-bottom: 0;
}

.setting-sidenav-bg {
    margin: 10px;
    margin-right: 0;
    background: #fff;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.mt-8 {
    margin-top: 4rem!important;
}

.setting-sidenav-wrapper .table>tbody>tr>td {
    border: none;
    padding: 20px 10px;
    border-radius: 8px;
}

.systemsettings h6, .custom-md-tabs h6 {
    font-size: 15px !important;
}

.setting-toolbar-menu {
    margin-left: 10px !important;
}

.setting-toolbar-menu-item i {
    margin-right: 10px;
}

.setting-toolbar-menu-item a {
    height: 100%;
    line-height: 4.5rem;
    padding-top: 0 !important;
    font-size: 14px;
}

.setting-toolbar-menu-item a.active {
    background-color: #e9e9e9;
    pointer-events: none;
    cursor: default;
}

.setting-sidenav-menu i {
    color: rgba(148,163,184, 1);
}

.setting-sidenav-menu .setting-sidenav-menu-item .setting-sidenav-menu-item-title {
    font-weight: 400;
    font-size: 17px;
    color: #000;
    line-height: 1.5rem;
}

.setting-sidenav-menu .setting-sidenav-menu-item .setting-sidenav-menu-item-text {
    font-size: 14px;
    color: rgb(100 116 139 / 80%);
    margin-top: 1.525rem;
}

.setting-subhead-menu {
    margin-top: 15px
}

.setting-subhead-menu > div {
    padding: 8px 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.setting-subhead-menu .active {
    background-color: #303f9f;
}

.setting-subhead-menu .active a {
    color: #fff;
}

.setting-subhead-menu > div i {
    margin-right: 8px;
}

.control-label-br {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 13px;
    color: #000;
}


.widget-color-time {
    color: #555;
    font-size: 11px;
}

.iex-tabs-menu .tabs-left>li.active>a, .iex-tabs-menu .tabs-left>li.active>a:focus, .iex-tabs-menu .tabs-left>li.active>a:hover {
    border-left: 0;
    border-radius: 0;
}

.iex-tabs-menu .tabs-left>li.active>a, .iex-tabs-menu .tabs-left>li.active>a:hover, .iex-tabs-menu .tabs-left>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border: none;
    background: rgba(63,81,181,.15);
    color: #3f51b5;
}

.iex-tabs-menu .nav-tabs, .nav-tabs>li>a, .iex-tabs-menu .nav-tabs > li > a:hover {
    border: none !important;
}

.iex-tabs-menu .nav-tabs, .iex-tabs-menu .nav-tabs>li>a {
    color: rgba(0,0,0,.65);
}

.iex-tabs-menu .nav-tabs > li {
    font-size: 15px;
}

.iex-tabs-menu .nav-tabs > li > a:hover {
    background: rgba(0,0,0,.04);
    color: rgba(0,0,0,.87) !important;
}

.direction-col-body {
    padding: 0 !important;
    margin-top: -7px;
    height: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
    max-height: 100%;
}

.direction-col-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.direction-col-body .direction-col-line {
    border-right: 1px solid #e9e9e9;
    padding: 0;
}


.iex-tabs-menu .tabs-left>li:last-child {
    margin-bottom: 0;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    font-size: 13px;
    border-radius: 5px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #9899a0;
    text-decoration: none;
    background-color: #fff;
    border: none;
    margin: 0 5px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #303F9F;
    border-color: #303F9F;
    border: none;
}

.pagination-left {

    border-radius: 10px;
}

.pagination-right {
    text-align: right;
    /* padding: 0 20px 15px; */
    padding: 0 !important;
}

.pagination-right nav {
    padding: 10px !important;
}

.show-button-toggle {
    display: none;
}

.md-button.md-raised {
    border-radius: 5px;
    box-shadow: none !important;
}

.panel-to-fullscreen {
    display: block !important;
    position: fixed !important;
    width: 100% !important;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 99999;
}

.panel-to-fullscreen .default-panel-body {
    padding-bottom: 65px;
}

.panel-to-fullscreen .default-panel-footer {
    position: fixed;
    z-index: 101;
    bottom: 0;
    width: 100%;
}

.heading-elements {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 38px;
    margin-top: -19px;
}

.heading-elements:not(.visible-elements) .icons-list {
    margin-top: 11px;
}

.icons-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    font-size: 0;
}

.icons-list > li:first-child {
    margin-left: 0;
}

.icons-list > li {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
}

.iex-black-theme .icons-list > li > a {
    color: #8dccff;
}

.icons-list > li > a {
    color: inherit;
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}

.icon-button-widget {

}

.icon-button-widget a {
    margin-right: 8px;
    color: #303f9f;
    opacity: .7;
}
.icon-button-widget a:hover {
    opacity: 1;
}

.icon-button-widget a i {
    font-size: 14px;
    color: #333;
}

.icon-button-widget a:last-child {
    margin-right: 0;
}

.iex-body-panel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    /*width: 100%;*/
    /*z-index: 10;*/
    flex: 1 0 auto;
}

.footer {
    color: #999;
    margin: 30px 0 0 0;
    padding: 30px;
    text-align: left;
    flex: 0;
    bottom: 0;
    left: 0;
}

.input-iex-group .input-group-addon:last-child {
    padding-right: 0;
}

.input-iex-group .input-group-addon {
    padding: 4px 16px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #333333;
    text-align: center;
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.input-iex-group .input-group-addon i {
    box-shadow: none;
}

.text-primary-600, .text-primary-600:focus, .text-primary-600:hover {
    color: #1e88e5!important;
}

.text-success-600 {
    color: #4CAF50 !important;
}

.text-success-700 {
    color: #386905;
}

.help-button {
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.position-right {
    margin-left: 8px;
}

.popover {
    min-width: 255px;
    border-radius: 0;
    padding: 0;
    border-width: 0;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.popover .arrow {
    display: none
}

.popover-title {
    font-size: 12px;
    line-height: 1.6666667;
    border: 0;
    padding: 15px 15px 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.popover-title[class*=bg-] {
    padding: 10px 15px;
    margin: -1px -1px 0 -1px
}

.popover-content {
    padding: 10px;
    font-size: 12px;
    color: #666666
}


.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-content {
    border: none;
}


.ui-dialog-titlebar {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #fff;
    background-color: #303f9f;
    border: none;
}

.modal-content .ui-dialog-titlebar .close {
    color: #fff !important;
}

.ui-dialog-title {
    float: left;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.modal-content .modal-footer {
    padding: 10px;
}
.modal-content {
    border-radius: 5px;
}

.modal-content[class*=bg-] .modal-header .close, .modal-header[class*=bg-] .close, .modal-content .ui-dialog-titlebar .close {
    color: #000;
}

button.close {
    outline: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#default-table_wrapper {
    padding-top: 10px;
}

#default-table_wrapper > .row:first-child {
    border-bottom: 1px solid #e9e9e9 !important;
}


#default-table_wrapper > .row {
    padding-bottom: 10px;
}


#default-table_wrapper .dataTables_length {
    padding: 0;
}

#default-table_wrapper .col-sm-12 {
    padding: 0;
}

#default-table_wrapper .dataTables_info {
    color: #999;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
}


.empty-content {
    padding: 20px;
    text-align: center;
    color: #999;
}

.margin-b0 {
    margin-bottom: 0;
}

.product-details {
    padding-bottom: 10px;
}

.product-details .control-label {
    font-weight: 400;
}

.product-details .product-details-label {
    font-weight: 500;
    font-size: 13px;
    padding-left: 15px;
}

.product-details .form-group {
    margin: 0;
    padding: 0 15px;
}

.admin-notify .button {
    padding: 0;
    margin-top: -6px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50)!important;
    opacity: .5 !important;
}

body.md-default-theme, body, html.md-default-theme, html, .body-background {
    background: #f8f8f8;
}

.sidenav-job {
    padding: 10px;
    background-color: #cc2626;
    color: #fff;
}

.sidenav-job > .sidenav-job-text {

}

.full-width-box{
    width: 100%;
    z-index: 1;
}

md-sidenav {
    background-color: #000 !important;
    width: 280px;
    min-width: 280px;
}


md-sidenav.left-sidenav  {
    font-family: 'Nunito', sans-serif;
}

md-sidenav.left-sidenav {
    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%) !important
}

.x_content_scroll {
    height: 600px;
    overflow: scroll;
}

.x_content_scroll::-webkit-scrollbar {
    width: 5px;
}

.x_content_scroll::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 6px;
    min-height: 50px;
}


md-sidenav::-webkit-scrollbar {
    width: 0;
}

md-sidenav::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 6px;
    min-height: 50px;
}

/*::-webkit-scrollbar-track {*/
/*background-color: ;*/
/*}*/


.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}





@media (min-width: 1000px)
{
    .padding-right {
        padding-right: 10px;
    }
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar)
{
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    min-height: 60px;
}


md-toolbar.top-toolbar .md-toolbar-tools {
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-admin-body-wrapper md-toolbar.top-toolbar {
    z-index: 9999;
}


md-toolbar.top-toolbar .md-button md-icon {
    color: rgba(100,116,139, 1);
    font-size: 19px;
    margin-top: 2px;
}

md-toolbar.top-toolbar .md-button:hover md-icon {
    opacity: .8;
    font-size: 19px;
    margin-top: 2px;
}

md-toolbar.top-toolbar .md-button.md-icon-button {
    margin: 0 10px !important;
}


.abs-notify-button {
    position: absolute;
    right: 0px;
    margin: 0;
    font-size: 13px;
    color: #0275d8 !important;
}

.abs-notify-button:hover {
    color: #0f59d8 !important;
}

.popover-title-icon md-icon {
    color: #fff !important;
    font-size: 20px
}


.popover-title-task {
    background: #fff;
    color: #0f172a;
    border-radius: 10px 10px 0 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: none;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #e9e9e9;
}

.dropdown-menu .scrollable-content{

    color: #444 !important;
}

.admin-home-layout .popular-exchange md-list-item{
    border-bottom: 1px solid #e9e9e9;
}
.admin-home-layout .popular-exchange md-list-item:last-child {
    border: none;
}

.admin-home-layout .popular-exchange .md-secondary-container {
    font-size: 13px;
    color: #999;
}

.admin-home-layout {
    padding-bottom: 10px;
}

/*.admin-home-layout {*/
    /*margin-left: 10px;*/
/*}*/

/*.admin-home-layout .flex-50 {*/
    /*margin-left: -10px;*/
    /*margin-bottom: 10px;*/
/*}*/

.admin-home-layout .x_panel {
    height: auto;
}


a {
    color: #0275d8;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }
a:hover, a:focus {
    text-decoration: none; }

a:hover {
    color: #000000;
}

.bootstrap-select .dropdown-menu ul .selected {
    background-color: #e9e9e9;
}

.media-heading {
    margin-bottom: 2px;
    display: block;
}

.systemsettings {
    margin-top: 0;
}


.box-desktop-button {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px;
}


.systemsettings h6, .custom-md-tabs h6 {
    font-size: 13px;
    font-weight: 500;
}
.text-semibold {
    font-weight: 600;
}
.text-size-small {
    font-size: 12px;
}

.table-2 > thead > tr > th,
.table-2 > tbody > tr > th,
.table-2 > tfoot > tr > th,
.table-2 > thead > tr > td,
.table-2 > tbody > tr > td,
.table-2 > tfoot > tr > td {
    padding: 12px 20px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}



.md-button {
    padding: 0 12px;
}

.md-success {
    color: rgba(255,255,255,0.87) !important;
    background-color: #009688 !important;
}

.md-success-2 {
    color: #FFF !important;
    background-color: #00C851 !important;
}

.md-success-3 {
    color: #FFF !important;
    background-color: #5e17d1 !important;
}

.md-danger {
    color: #FFF !important;
    background-color: #ff0000 !important;
}



.btn-default.dropdown-toggle
{
    background-color: #ffffff !important;
    color: #000000 !important;
    line-height: 23px;
    height: 40px;
    box-shadow: none;
    border: 1px solid #d9d9d9;
}
.btn-default.dropdown-toggle:hover, .btn-default.dropdown-toggle:focus {
    background-color: #f9f9f9 !important;
    color: #000000 !important;
    box-shadow: none;
    border: 1px solid #d9d9d9;
}

.dropdown-menu li>a, .ui-menu li>a {
    padding: 8px 15px !important;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.material-switch .label-success {
    background-color: #4CAF50;
}

.form-bottom {
    text-align: right;
}


.form-bottom a{
    margin-right: 0;
}



th:focus {
    outline: none; }

.mdl-data-table {
    width: 100%; }
.mdl-data-table th {
    cursor: pointer; }

.mdl-data-table tr {
    transition: none !important; }

th md-select {
    margin: 0; }

.md-errors-spacer {
    display: none; }

.material-icons, .sortable span:before, .sortable span:after {
    font-family: 'Material Icons';
    font-size: 18px;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; }

.mdl-data-table td, .mdl-data-table th {
    text-align: left;
}

.side-menu li a .fa-custom-theme {
    float: left;
    top: 0;
    margin-top: 2px;
    margin-right: 15px;
    font-size: 16px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}


/*.side-menu li a .fa-custom-theme,*/
/*.side-menu-home li a .fa-custom-theme*/
/*{*/
    /*background: rgba(0, 0, 0, 0.17);*/
    /*-webkit-animation-duration: .7s;*/
    /*-moz-animation-duration: .7s;*/
    /*-o-animation-duration: .7s;*/
    /*animation-duration: .7s;*/
    /*-webkit-animation-fill-mode: both;*/
    /*-moz-animation-fill-mode: both;*/
    /*-o-animation-fill-mode: both;*/
    /*animation-fill-mode: both;*/
    /*font-size: 16px;*/
    /*line-height: 31px;*/
    /*display: block;*/
    /*float: left;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*margin-right: 10px;*/
    /*margin-left: 0;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/
    /*opacity: .8;*/
    /*-moz-opacity: .8;*/
    /*filter: alpha(opacity:80);*/
/*}*/

/*.side-menu li a .fa-custom-theme:before,*/
/*.side-menu-home li a .fa-custom-theme:before {*/

/*}*/


/*.side-menu li a:hover .fa-custom-theme,*/
/*.side-menu-home li a:hover .fa-custom-theme {*/
    /*-webkit-animation-name: swing;*/
    /*-moz-animation-name: swing;*/
    /*-o-animation-name: swing;*/
    /*animation-name: swing*/
/*}*/


.small-badge {
    position: absolute;
    width: 18px;
    height: 18px;
    /* opacity: .7; */
    border: 0;
    right: 5px;
    top: 0;
    left: auto;
}

.small-badge-text {
    font-size: 10px;
    font-weight: 700;
    /* display: inline-block; */
    text-align: center;
    line-height: 17px;
}

.small-badge {
    z-index: 1111;
    border-radius: 20px;
}

.bg-red, .btn-red, .hover-red:hover, .label-red {
    color: #212121;
    background: #d43333;
    border-color: #e35f5f;
}




.nav.side-menu>li.active >a:after,
.nav.side-menu-home>li.active >a:after,
.nav.child_menu>li.active >a:after{
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav.side-menu>li>a:after,
.nav.side-menu-home>li>a:after,
.nav.child_menu>li.single_child_menu>a:after {
    line-height: 21px;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.nav.side-menu-home>li>a:after
{
    display: none !important;
}
.nav.side-menu>li>a:after,
.nav.child_menu>li.single_child_menu>a:after
{
    content: "\f054";
    font-family: Font Awesome\ 5 Pro;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: 0 0;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.bs-badge.badge-absolute {
    position: absolute;
    top: 50%;
    right: 36px;
    min-width: 20px;
    height: 20px;
    line-height: 21px;
    padding: 0 7px;
    font-size: 11px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
}

.badge, .bs-badge {
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    color: #fff;
    border-radius: 10px;
}

.badge-danger, .bg-danger, .bg-red, .bootstrap-switch-danger, .btn-danger, .checkbox-danger div[id^=uniform-] span.checked, .hover-danger:hover, .hover-red:hover, .label-danger, .progress-bar-danger, .radio-danger div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #e73629;
    background: #F44336;
}

.badge-green  {
    color: #fff;
    border-color: #37bf10;
    background: #31ac0c;
}

.new-x_panel_wrapper .x_content {
    margin-top: 0;
}

.new-x_panel_wrapper .x_title {
    border-bottom: 1px solid #e9e9e9;
}

.new-x_panel_wrapper table.table-border-2 thead {
    background-color: #fafafa;
}

.new-x_panel_wrapper table.table-border-2 thead tr th {
    color: #828a94;
    padding: 15px 10px;
}

.new-x_panel_wrapper .table>tbody>tr>td, .new-x_panel_wrapper .table>tbody>tr>th, .new-x_panel_wrapper .table>tfoot>tr>td, .new-x_panel_wrapper .table>tfoot>tr>th, .new-x_panel_wrapper .table>thead>tr>td, .new-x_panel_wrapper .table>thead>tr>th {
    border-top: 1px solid #e9e9e9;
}

.new-x_panel_wrapper .table-border-2 {
    border: none;
}

.dropdown-menu-right-ul {
    float: right;
    text-align: inherit;
    border-top: 0;
    font-size: 14px;
}

.menu-divider {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
    border-top-color: rgba(226, 226, 226, 0.12);
}

.menu-divider-line {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(214, 214, 214, 0.17);
}

.menu-subheader {
    color: rgba(0, 0, 0, 0.59);
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
}

.menu-subheader-inner {
    display: block;
    padding: 16px;
    cursor: auto;
}

.page-header-content {
    position: relative;
    background-color: inherit;
    padding: 0 25px;
}

.page-header-title h3 {
    margin:0;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.page-header-star {
    border-right: 1px solid #d6dce1;
    padding-right: 10px;
    margin-right: 10px;
}

.top-block-header {
    padding-top: 25px;
    padding-bottom: 10px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #303F9F;

}

.btn-float {
    padding: 13px;
    margin: 0;
    margin-top: -14px;
}

.btn-float md-icon {
    line-height: 1;
}

.btn-float span {
    line-height: 1.6666667;
}

.btn.text-size-small {
    line-height: 1.6666667;
}

.breadcrumb-elements > li > a {
    display: block;
    padding: 10px 15px;
    color: #333333;
}


.breadcrumb-elements {
    text-align: center;
    margin: 0;
    padding: 0;
}

.breadcrumb-line[class*=bg-] .breadcrumb-elements > li .legitRipple-ripple {
    background-color: rgba(255, 255, 255, 0.1)
}


.breadcrumb-elements {
    float: right;
    text-align: inherit;
    border-top: 0;
    font-size: 14px;
}

.breadcrumb-line {
    border-top: 1px solid #f1f1f1;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb-line:after {
    content: '';
    display: table;
    clear: both;
}

.page-header-wrapper .breadcrumb > li > a {
    color: #333333;
}

.page-header-wrapper .breadcrumb > li > a:hover, .page-header-wrapper .breadcrumb > li > a:focus {
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.page-header-wrapper .breadcrumb>li+li:before {
    color: #ccc;
    font-family: Font Awesome\ 5 Pro;
    content: "\f054";
    font-size: 11px;
    padding: 0 10px;
}


.breadcrumb-line {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.breadcrumb-line .breadcrumb {
    float: left;
    margin-right: 0;
}

.breadcrumb-link__text  {
    color: #707070 !important;
}

.breadcrumb-link__text i {
    margin-right: 5px;
}

.breadcrumb {
    padding: 12px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 3px;
}
.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li {
    position: relative;
}

.breadcrumb {
    border-radius: 0;
    margin-bottom: 0;
}


.bg-primary-700 {
    background-color: #1976d2;
    border-color: #1976d2;
    color: #fff;
}


.user_heading {
    padding: 24px;
    padding-bottom: 0px;
    position: relative;
}
.user_heading_avatar {
    margin-bottom: 10px;
}
.user_heading_avatar > img {
    width: 82px;
    height: 82px;
    float: left;
    margin-right: 10px;
    object-fit: cover;
}
.user_heading_avatar > h6,
.user_heading_avatar > span {
    display: block;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user_heading_avatar > h6 {
    font-size: 24px;
    padding-top: 10px;
}
.user_heading_content {
    text-align: center;
}
.user_heading_content .user_stats {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}
.user_heading_content .user_stats > li {
    list-style: none;
}
.user_heading_content .user_stats li {
    margin-right: 40px;
    float: left;
}
.user_heading_content .user_stats li:last-child {
    margin-right: 0px;
}

.sub-heading {
    line-height: 18px;
    font-size: 13px;
    display: block;
}

.panel-body + .panel-body, .panel-body + .table, .panel-body + .table-responsive, .panel-body.has-top-border {
    border-top: 1px solid #ddd;
}

.user_heading_p {
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}



.child_menu_title {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
    line-height: 2rem;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

.small-text-1 {
    padding-top: 5px;
    font-size: 1.1rem;
}

.small-text-2 {
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
}

.small-text-2 ul li{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}

.modal-backdrop {
    z-index: 100 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.table-xs > thead > tr > th, .table-xs > tbody > tr > th, .table-xs > tfoot > tr > th, .table-xs > thead > tr > td, .table-xs > tbody > tr > td, .table-xs > tfoot > tr > td {
    padding: 8px 5px !important;
}

.table {
    margin-bottom: 0;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th
{
    border-color: transparent;
}

.table-bordereds {
    border: 1px solid transparent;
}

.table-bordereds thead th {
    border-bottom: 1px solid #e1e1e1 !important;
}

.alert-mini {
    padding: 5px 20px;
    border-radius: 0;
}



.table-bordereds>tbody>tr {
    border-left: 4px solid #77bbdc;
}

.table-bordereds>tbody>tr>td ,
.table-bordereds>tbody>tr>th {

    vertical-align:middle;
}


.text-success {
    color: #31dc3e;
}


.title-give{
    position: absolute;
    top: -15px;
    width: 96%;
    text-align: center;
    /* border-bottom: 1px solid #e9e9e9; */
    background: #e9e9e9;
    padding: 10px;
}

.title-receiving{
    position: absolute;
    top: -55px;
    width: 96%;
    text-align: center;
    /* border-bottom: 1px solid #e9e9e9; */
    background: #e9e9e9;
}

.table-bordereds>tbody>tr.important-task {
    border-left: 4px solid #09b33c;
    background-color: #e6ffed;
}


.table-bordereds>tbody>tr.important-warning {
    border-left: 4px solid #d9e000;
    background-color: #feffde;
}

.table-bordereds>tbody>tr.important-time_over, .table-bordereds>tbody>tr.important-error {
    border-left: 4px solid #d11313;
    background-color: #ffe8e8;
}

.table-bordereds>tbody>tr.important-handler {
    border-left: 4px solid #878787;
    background-color: #f0f0f0;
}


.table-striped>tbody>tr.important-task:nth-of-type(odd) {
    background-color: #e5ffed;
}

.modal-task-one {
    border-right: 1px solid #d9d9d9;
}

.modal-task-two {
    border-right: 1px solid #d9d9d9;
}

.modal-task-three {
}

.modal-body-custom {
    position: relative;
}

.modal-task-linear {
    border-bottom: 1px solid #e9e9e9;
    padding: 2rem;
}

.modal-task-linear:last-child {
    border-bottom: none;
}

.modal-task-linear > .task-title {
    color: #000;
    font-weight: 600;
}

.task-payment-value {
    margin-top: 10px;
}

.task-left-block {
    border-left: 1px solid #e9e9e9;
}

.task-right-block {
    border-right: 1px solid #e9e9e9;
}

.task-client-title {
    background: #e9e9e9;
    line-height: 4rem;
    color: #000;
}


.geoip-information {

}

.geoip-item {
    display: table;
    width: 100%;
    /* height: 100%; */
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.geoip-item:last-child {
    border-bottom: none;
}

.geoip-item img {
    margin-right: 5px;
}


.geoip-item .col-md-4{
    font-weight: 600;
}



.modal-task-new {
    background-color: #5991c9;
    color: #fff;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.modal-task-success {
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    width: auto;
    margin: 0 auto;
}

label {
    font-size: 13px;
}

.fa {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tasks-colors {

}

.tasks-colors-one, .tasks-colors-two{
    padding-right: 20px;
}
.tasks-colors-one, .tasks-colors-two, .tasks-colors-three {
    line-height: 1.7;
}

.tasks-colors-one > .color {
    background-color: #d9e000;
    width: 30px;
    height: 30px;
    float:left;
    display: block;
}

.tasks-colors-one > .text {
    margin-left: 45px;
    padding-top: 4px;
}

.tasks-colors-two > .color {
    background-color: #09b33c;
    width: 30px;
    height: 30px;
    float:left;
    display: block;
}

.tasks-colors-three > .text {
    margin-left: 45px;
    padding-top: 4px;
}

.tasks-colors-three > .color {
    background-color: #d11313;
    width: 30px;
    height: 30px;
    float:left;
    display: block;
}

.tasks-colors-two > .text {
    margin-left: 45px;
    padding-top: 4px;
}


#sidebar-menu {
    margin-top: 24px;
}


.side-menu .child_menu .child_menu {
    background-color: transparent;
}



.btn-margin-default {
    text-align: center;
}

.btn-margin-default .btn{
    margin-top: 2px;
    width: 140px;
    margin-bottom: 2px;
}

.alert-danger{
    position: relative;
}

.abs-link {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#page-content-wrapper {
    float: left;
    width: 100%;
    position: relative;
    *padding-top: 60px;
}
.scroll-view, .left_col {
    width: 100%;
    *background-color: #272634 !important;
}

.top_nav #menu_toggle {
    color: #ffffff;
}

.top_nav #menu_toggle:hover {
    color: #e9e9e9;
}

.left_col {
    /*box-shadow: 2px 10px 30px 0 rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);*/
    /*transition: width .3s cubic-bezier(0,0,.2,1);*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
}

#page-header {
    position: absolute;
    width: 100%;
    padding-left: 225px;
    left: 0;
    top: 0;
    height: 60px;
    z-index: 100;
}

#page-header {
    display: none;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#header-nav-left {
    float: right;
}

#header-nav-right {
    padding-left: 10px;
}

#header-nav-right {
    float: left;
    display: inline-block;
    vertical-align: middle;
    /* height: 100%; */
}


.notification-new-task
{
    border-radius: 0 0 5px 5px;
    /*-moz-transform: rotate(270deg);*/
    /*-o-transform: rotate(270deg);*/
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform-origin: 100% 100%;*/
    /*-o-transform-origin: 100% 100%;*/
    /*-webkit-transform-origin: 100% 100%;*/

    position: fixed;
    top: 0;
    right: 0;
    /* margin: 10px; */
    width: 20%;
    text-align: center;
    z-index: 100000000000;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background: #d43737;
    letter-spacing: 1px;
    border: none;
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}


.modal-footer .btn {
    margin-bottom: 0;
}


.padding-lr-20 {
    padding-left:20px;
    padding-right: 20px;
}

.padding-lrb-20
{
    padding-left:20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.padding-20
{
    padding:20px;
}

.md-button {
    text-transform: none;
    font-size: 13px;
    min-height: 33px;
    line-height: 33px;
    font-weight: normal !important;
}





.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper  .dataTables_info,
.dataTables_wrapper .dataTables_paginate
{
    padding-left: 20px;
    padding-right: 20px;
}

.dataTables_wrapper > .row {
    padding-bottom: 20px;
}

.manager-table-2 {
    overflow: hidden;
}

#default-table .checkbox,
.manager-table .checkbox,
.manager-table-2 .checkbox{
    height: 15px;
    margin-bottom: 0;
}

#default-table .not-sortable,
.manager-table .not-sortable,
.manager-table-2 .not-sortable{
    cursor: auto;
}

.dataTables_wrapper #default-table_filter input {
    height: 20px;
}


#default-table.table>tbody>tr>th,
#default-table.table>tbody>tr>td{
    border-bottom: 1px solid #e9e9e9;
    border-top: 0;
}


.table > thead > tr>th:first-child,
.table > tbody tr>th:first-child,
.table > tbody tr>td:first-child {
    padding-right: 0 !important;
    padding-left: 20px !important;
}

.table > thead > tr > th {
    border-bottom: 1px solid #bbb;
}

.table-border-2 thead tr th{
    font-weight: 500;
    font-size: 12px;
    color: rgba(100,116,139, 1);
}

.table-border-2 thead th:focus {
    outline: none;
}

.table-border-2 {
    border: 1px solid transparent;
}

.table-border-2 thead th {
    border-bottom: 1px solid #e1e1e1 !important;
}


.table-border-2>tbody>tr {
    border-left: 0 solid #77bbdc;
}

.table-border-2>tbody>tr>td ,
.table-border-2>tbody>tr>th {
    vertical-align:middle;
    font-size: 13px;
}


.table-border-2>tbody>tr.important-task {
    border-left: 4px solid #09b33c;
    background-color: #e6ffed;
}


.table-border-2>tbody>tr.important-warning {
    border-left: 4px solid #d9e000;
    background-color: #feffde;
}

.table-border-2>tbody>tr.important-time_over,
.table-border-2>tbody>tr.important-error {
    border-left: 4px solid #d11313;
    background-color: #ffe8e8;
}

.table-border-2>tbody>tr.important-handler {
    border-left: 4px solid #878787;
    background-color: #f0f0f0;
}

.small-possible {
    color: #888;
    margin-left: 5px;
}

.small-possible a {
    color: #222;
}


.icon-success > i {
    font-size: 25px;
    color: #32ab11;
}

.icon-danger > i {
    font-size: 25px;
    color: #cc1845;
}

.alert {
    color: #333;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.alert-lite {
    padding: 10px !important;
    margin-bottom: 10px !important;
    font-size: 13px;
}

.alert-warning {
    background-color: #FFF3E0;
    border-color: #FF9800;
}


.settings-menu-panel {
    padding-left: 0;
    list-style: none;
    margin: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
}

.settings-menu-panel li{
    position: relative;
    display: block;
    text-align: center;
    border-right: 1px solid rgba(233, 233, 233, 0.82);
}



.settings-panel-width li {
    width: 100%;
}


.settings-menu-panel li:last-child{
    border-right: none;
}

.settings-menu-panel li a {
    line-height: 24px;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 400;
    color: #777!important;
    position: relative;
    display: block;
    width: 100%;
}
.settings-menu-panel>.active>a, .settings-menu-panel>.active>a:focus, .settings-menu-panel>.active>a:hover {
    color: #555;
    background-color: rgba(222, 222, 222, 0.23);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5384616;
    color: inherit;
}

.switchery {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    width: 44px;
    height: 22px;
    vertical-align: middle;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.switchery > small {
    background-color: #fff;
    border-radius: 100px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.custom-md-tabs {
    margin-top: -5px;
}

.custom-md-tabs .md-tab{
    font-size: 13px;
    text-transform: none;
}

.custom-md-tabs md-tabs-wrapper{
    border-width: 0 0 0 !important;
}

.custom-card {
    margin-bottom: 20px;
}
.custom-card .nav-tabs {    margin-top: -5px; border-bottom: 2px solid #DDD; }

.custom-card .nav-tabs > li {
    font-size: 13px;
}

.custom-card .nav-tabs > li > a {
    padding: 10px 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
}

.custom-card .nav-tabs > li.active > a,
.custom-card .nav-tabs > li.active > a:focus,
.custom-card .nav-tabs > li.active > a:hover { border-width: 0; }
.custom-card .nav-tabs > li > a { border: none; color: #666; }
.custom-card .nav-tabs > li.active > a,
.custom-card .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.custom-card .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.custom-card .nav-tabs > li.active > a::after,
.custom-card .nav-tabs > li:hover > a::after { transform: scale(1); }
.custom-card .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.custom-card .tab-pane { padding: 15px 0; }
.custom-card .tab-content{padding:20px}


.material-switch input[type="checkbox"] {
    display: none;
}
.material-switch input[type="checkbox"]:checked ~ .toggle {
    background: #009688;
    left: 52px;
    transition: 0.5s;
}
.material-switch input[type="checkbox"]:checked ~ .switch {
    background: #6dbeb7;
    transition: 0.5s;
}

.nav-tabs-solid-header {
    padding: 1px;
}
.nav-tabs-solid { border-bottom: 0 solid #DDD; }
.nav-tabs-solid > li.active > a, .nav-tabs-solid > li.active > a:focus { border-width: 0; }
.nav-tabs-solid > li > a { border: none; color: #666; }
.nav-tabs-solid > li.active > a, .nav-tabs-solid > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs-solid > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs-solid > li.active > a::after { transform: scale(1); }
.panel-tab-content, .panel-tab-content .tab-pane{padding:0;}



.nav-tabs-solid>li.active>a, .nav-tabs-solid>li.active>a:focus, .nav-tabs-solid>li.active>a:hover {
    border: 0 solid #ddd !important;
}
.switch {
    display: block;
    width: 100px;
    height: 40px;
    background: #939393;
    border-radius: 20px;
    position: absolute;
    top: 0;
    transition: 0.5s;
}

.toggle {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -8px;
    left: -8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.card {
    display: inline-block;
    margin: 13px;
    margin: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    position: relative;
}

#switch2:checked ~ .toggle {
    background: #3f51b5;
}
#switch2:checked ~ .switch {
    background: #9ca5d7;
}


/*.custom-menu-bar {*/
    /*padding: 10px 0 !important;*/
/*}*/

/*.custom-menu-bar md-menu-item>.md-button {*/
    /*line-height: 27px !important;*/
    /*padding-top: 3px !important;*/
/*}*/

.panel-body, .default-panel-body {
    position: relative;
    padding: 20px;
}

/*.custom-menu-bar md-menu-item>a.md-button {*/
    /*padding-left: 16px !important;*/
    /*padding-right: 16px !important;*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
/*}*/

md-menu-item.menu-items-list
{
    min-height: 40px !important;
    height: 40px !important;
}

md-menu-item.menu-items-list > .md-button
{
    font-size: 13px;
    line-height: 20px;
}

md-menu-item.menu-items-list .md-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 40px;
    min-width: 88px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}
md-menu-item.menu-items-list a.md-button
{
    padding-top: 0;
}

.default-panel-footer {
    padding: 1.5rem;
    background-color: rgba(248,250,252, 1);
    border-top: 1px solid  #e2e8f0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}

.default-panel-footer-right {
    text-align: right;
}


.user-list h6 {
    padding-top: 2px;
    font-size: 14px;
    margin: 0;
}


.task-filter-body {
    padding-left: 20px;
    padding-right: 20px;
}

.task-filter-content .control-label {
    font-weight: 500;
}


.task-filter-title {
    border-bottom: 1px solid #e6e7e7;
    color: #303f9f;
    font-weight: 500;
    margin-right: -20px;
    margin-left: -20px;
    line-height: 2;
    padding-left: 20px;
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 16px;

}

.bootstrap-select .btn-default.dropdown-toggle {
    height: 35px;
}

.task-newbie {
    color:#e40707;
}

.task-td-info i {
    margin-right: 5px;
}

.task-td-info img {
    margin-top: -3px;
    margin-left: 5px;
}


.heading-right-button {

}
.heading-right-button ul {
    margin-right: 15px;
}



[data-toggle="collapse"].collapsed .if-not-collapsed,
[data-toggle="collapse"].collapsed .if-not-collapsed2{
    display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed,
[data-toggle="collapse"]:not(.collapsed) .if-collapsed2{
    display: none;
}

.pagination-right {
    text-align: right;
    padding: 0 20px 15px;
}

.st-base-name {
    padding: 7px 15px;
    border-radius: 15px;
    color: #fff;
    width: 155px;
    display: block;
    text-align: center;
    font-size: 12px;
}


.st-base-name i {
    margin-right: 5px;
}

.st-delete {
    background: #f44336;
}

.st-new {
    background: #2196f3;
}

.st-handler {
    background: #2196f3;
}

.st-not-status {
    background: #000000;
    color: #fff;
}

.st-frozen {
    background: #b2ba0f;
}

.st-pending-payment
{
    background: #7b93a3;
}
.st-success {
    background: #4caf50;
}

.st-merchant {
    background: #af4c88;
}

.st-process-payment {
    background: #ab804b;
}

.st-handler-operator {
    background: #fc6d41;
}

.st-error {
    background-color: #a70000;
}

.st-cancel {
    background: #e5e6e6;
    color: #333;
}

/**
*/

.st-delete-color {
    color: #f44336;
}

.st-new-color {
    color: #2196f3;
}

.st-handler-color {
    color: #2196f3;
}

.st-pending-payment-color
{
    color: #7b93a3;
}

.st-process-payment-color {
    color: #ab804b;
}

.st-success-color {
    color: #4caf50;
}

.st-handler-operator-color {
    color: #fc6d41;
}

.st-cancel-color {
    color: #333;
}

.st-error-color {
    color: #a70000;
}

.st-merchant-color {
    color: #af4c88;
}

/***
Widgets
*/


.admin-home-layout-1 {
    background: #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    margin-bottom: 10px;
}


.admin-home-layout-1 .flex-25 {
    margin-right: 10px;
}


.ws-widgets {
    display: inline-block;
    position: relative;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    border-right: 1px solid #f9f9f9;
}

.admin-home-layout-1 > div:last-child > .ws-widgets {
    border-right: none;
}

.ws-widgets-stats .ws-widgets-header {
    float: left;
    text-align: center;
}

.ws-widgets [data-background-color] {
    color: #FFFFFF;
}

.ws-widgets [data-background-color] {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    /* margin: -20px 15px 0; */
    /* border-radius: 71px; */
    padding: 13px;
    background-color: #999999;
    position: relative;
}

.ws-widgets  [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.ws-widgets [data-background-color="rose"] {
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.ws-widgets [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.ws-widgets [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.ws-widgets-stats .ws-widgets-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.ws-widgets-stats .ws-widgets-content {
    padding-top: 10px;
}

.ws-widgets .ws-widgets-content {
    position: relative;
    margin: 2.5rem;
    padding: 0 !important;
}

.ws-widgets .ws-widgets-content .category {
    margin-bottom: 0;
}

.ws-widgets .category:not([class*="text-"]) {
    color: #a9a9a9;
    font-size: 14px;
}

.ws-widgets-stats .ws-widgets-title {
    margin-top: .75rem;
    font-size: 3.2rem;
    font-weight: 400;
}

.ws-widgets .ws-widgets-footer {
    margin: 0;
    border-top: 1px solid #eeeeee;
}

.ws-widgets .ws-widgets-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
    padding: 10px;
}

.ws-widgets .ws-widgets-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}


#google-analytics > div {
    width: 100% !important;
}

.widget-application {
    position: relative;
    height: 100%;
    -webkit-box-shadow: rgba(0, 12, 56, 0.1) 0 5px 20px 0;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.14);
    padding: 15px;
    background-color: #ffffff;
}


.order-data-ban-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
}

.widget-application-wrap {
    text-align: center;
}

.widget-application-head {
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
}

.widget-application-title {
    font-size: 18px;
    line-height: 2;
    font-weight: 600;
}

.widget-application-foot {
    color: #c8c1c1;
    font-size: 12px;
}

.widget-application-datetime {
    color: #f5707a;
}

.widget-application-id {
    color:#43ce47;
}

.widget-application-ip {
    color:#3ac9d6;
}

.widget-application-layout {
    margin-top: 5px;
}

.widget-application-layout .flex-25 {
    padding-right: 5px;
    padding-left: 5px;
}

.application-detail-item {
    padding: 15px 0;
    margin: 0;
}


.application-detail-description {
    display: block;
    word-wrap: break-word;
    margin-left: 15px;
}

.application-detail-description ul
{
    padding: 0;
}
.application-detail-description ul li {
    list-style-type: none;
}

.application-detail-description h4 {
    margin-top: 0;
    color: #000000 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
}

.application-detail-description > div {
    margin-left: 10px;
    font-size: 14px;
}

.application-detail-key {
    color: #000000;
    font-weight: 600;
    font-size: 13px;
}

.application-detail-value .a-click:hover {
    text-decoration: underline;
}
.application-detail-value.price {
    font-size: 14px !important;
}


.application-detail-value {
    display: block;
    word-wrap: break-word;
    font-size: 13px;
}

.application-detail-value ul
{
    padding: 0;
}
.application-detail-value ul li {
    list-style-type: none;
}

.application-detail-tabs {
    margin-top: -5px;
}

.application-detail-tabs .md-tab {
    text-transform: none;
    font-size: 13px;
}


.application-mdlist {
    padding: 0;
}

.application-mdlist > md-list-item {
    padding: 0;
}

.application-mdlist .md-subheader {
    background: #efefef;
}

.app-detail-2 {
    padding: 0 !important;
    margin: 0px 10px 10px;
}


.speed-notification-order {
    padding: 15px;
    background: #5f5f5f;
    color: #d4d4d4;
    font-size: 11px;
    text-align: center;
}

.speed-notification-order span {
    font-size: 16px;
    color: #ffffff;
    padding-left: 5px;
}

.app-detail-2 .x_panel {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.14) !important;
}

.app-widgets {
    margin: 10px !important;
}

.application-detail-data {
    padding: 5px;
}

.application-detail-data .flex-33 {
    padding-right: 10px;
}

.application-detail-data .x_panel {
    height: 100%;
}

.application-detail-footer {
    margin-left: -7px;
    margin-right: -10px;
    padding: 5px 0;
    *box-shadow: 0 7px 25px -5px #ccc, 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0);
    *border-top: 1px solid #e9e9e9;
}

.detail-add-reserve {

}

.detail-add-reserve .md-button {
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}


.modal-toolbar {
    background: #2A3F54 !important;
    min-height: 55px;
}

.modal-toolbar .md-toolbar-tools{
    height: 55px !important;
    font-size: 18px;
}


.md_simple_form_description {
    color: #777;
    line-height: 160%;
    margin: 0 0 10px;
}

.md_simple_form_description h4 {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color:#ff0000;
}

.md_simple_form_description_com {
    color: #555;
    line-height: 160%;
    margin: 0 0 10px;
}

.md_simple_form_description_com h4 {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color:#000000;
}


.tab-capitalize {
    margin-top: 0 !important;
}

.tab-capitalize .md-tab {
    text-transform: capitalize;
}


.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}
.tabs-left {
    border-right: 1px solid #ddd;
}
.tabs-right {
    border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left>li {
    margin-right: -1px;
}
.tabs-right>li {
    margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}
.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
}
.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}
.vertical-text {
    margin-top:50px;
    border: none;
    position: relative;
}
.vertical-text>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}
.vertical-text>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}
.vertical-text.tabs-left {
    left: -50px;
}
.vertical-text.tabs-right {
    right: -50px;
}
.vertical-text.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.sidebar-default .navigation li > a {
    color: #333333
}

.sidebar-default .navigation li > a:hover, .sidebar-default .navigation li > a:focus {
    background-color: rgba(255,255,255, 0.12) !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    border-radius: 6px;
}

.sidebar-default .navigation li.curmod > a,
.sidebar-default .navigation li.curmod > a:hover,
.sidebar-default .navigation li.curmod > a:focus {
    background-color: #f2f2f2;
    color: #333333
}

.sidebar-default .navigation li.active > a, .sidebar-default .navigation li.active > a:hover, .sidebar-default .navigation li.active > a:focus {
    background-color: rgb(18 18 18);
    color: #fff;
    opacity: 1;
}

.form-check-label {
    margin-bottom: 0;
    font-weight: normal;
}
.form-check-input {
}

.caret {
    font-style: normal;
    font-weight: normal;
    border: 0;
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: -1px
}

.caret:after {
    content: '\f107';
    font-family: Font Awesome\ 5 Pro;
    display: block;
    font-size: 16px;
    width: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.sidebar-user-material .category-content {
    background: url('/admin-assets/images/user_bg8.jpg');
    background-size: cover;
}

.sidebar-user-material .category-content {
    position: relative;
    padding: 21px;
}

.sidebar-user-material-content > img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    object-fit: cover;
}

.sidebar-user-material-menu > a > .caret {
    -webkit-transition: -webkit-transform ease-in-out 0.15s;
    -o-transition: -webkit-transform ease-in-out 0.15s;
    transition: -webkit-transform ease-in-out 0.15s
}

.sidebar-user-material-menu > a > i {
    float: right;
    margin-top: 2px
}

.sidebar-user-material-menu > a > .caret {
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s
}

.sidebar-user-material-menu > a[aria-expanded="true"] > .caret {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.img-circle {
    border-radius: 50%;
}

.sidebar-user-material-content > h6, .sidebar-user-material-content > span {
    display: block;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar-user-material-content > h6 {
    margin-bottom: 0;
    padding-top: 5px;
    font-size: 15px;
}

.sidebar-user-material-menu {
    margin: -20px;
    margin-top: 20px;
    position: relative;
}

.sidebar-user-material-menu > a {
    margin-left: -1px;
    padding: 10px 20px;
    display: block;
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

@media (min-width: 769px) {
    .form-horizontal .control-label:not(.text-right) {
        text-align: left;
    }
}

@media (min-width: 100px) and (max-width: 599px)
{
    .settings-menu-panel li {
        text-align: left;
        border-right: none;
    }
    .show-button-toggle {
        display: block;
    }
}


@media (min-width: 600px) and (max-width: 960px)
{
    .show-button-toggle {
        display: block;
    }
}

@media (min-width: 960px) and (max-width: 1279px)
{
    .show-button-toggle {
        display: block;
    }
}

@media (min-width: 769px) {
    .modal-dialog {
        width: 620px;
        margin: 30px auto;
    }
}

.width-100 {
    max-width: 100px;
    width: 100%;
}

.width-200 {
    max-width: 200px;
    width: 100%;
}

.width-300 {
    max-width: 300px;
    width: 100%;
}

.width-400 {
    max-width: 400px;
    width: 100%;
}


.bootstrap-select .btn-default {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
}

.bootstrap-select .dropdown-menu.open {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu li a{
    outline: none;
}

.form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
}

.alert-excode
{
    background-color: #ffffff;
    color: #333;
    position: relative;
    margin: 10px 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-left: 3px solid #e93800;
}

.alert-excode .alert-excode-title {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: #f6f6f6;
    font-weight: 500;
}

.alert-excode .alert-excode-text {
    padding: 10px;
}

.alert-excode .alert-excode-footer {
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}


.breadcrumb-elements .dropdown-menu {
    margin-top: 0;
    left: auto;
    right: 0;
    border-radius: 0;
}

.dropdown-menu > li > a > i, .dropdown-menu > .dropdown-header > i {
    margin-right: 10px;
}

#style_switcher .switcher_app_themes {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#style_switcher .switcher_app_themes li.active_theme {
    opacity: 1;
    position: relative;
}

#style_switcher .switcher_app_themes > li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#style_switcher .switcher_app_themes li {
    float: left;
    cursor: pointer;
    width: 36px;
    margin: 0 16px 16px 0;
    opacity: 0.5;
    -webkit-transition: opacity 280ms cubic-bezier(0.4,0,0.2,1);
    transition: opacity 280ms cubic-bezier(0.4,0,0.2,1);
}

#style_switcher .switcher_app_themes li.app_style_default .app_color_main {
    background: #2196f3;
}

#style_switcher .switcher_app_themes li span {
    display: block;
    padding: 0 4px;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

#style_switcher .switcher_app_themes li.app_style_default .app_color_accent {
    background: #7cb342;
}

#style_switcher .switcher_app_themes li.switcher_theme_dark .app_color_main {
    background: #546e7a;
}

#style_switcher .switcher_app_themes li.switcher_theme_dark .app_color_accent {
    background: #546e7a;
}

#style_switcher .switcher_app_themes li.active_theme:after {
    position: absolute;
    top: 0;
    left: 50%;
    content: '\f00c';
    font-family: "FontAwesome";
    font-size: 13px;
    display: block;
    color: #fff;
    margin-left: -6px;
    margin-top: 5px;
}


.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: #1f2d82;
}


.md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {
    background-color: rgb(250,250,250);
}

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
    background-color: #303F9F;
}


.cursor-scroll > .x_panel >.x_title:hover{
    cursor: all-scroll;
}

.cursor-scroll:hover > .x_panel{
    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%) !important
}

.cursor-scroll:active > .x_panel > .x_title{
    opacity: .6;
}

.no-border-top {
    border-top: 0!important;
}

.empty-page-table {
    margin-bottom: 0;
    color: #999;
}

.widget-subtitle {
    opacity: .6;
    font-size: 11px;
}

.widget-title-flex {
    margin-left: 10px;
}

.widget-title-star {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    margin-top: 10px !important;
    background: none !important;
}

.widget-title-star .widget-title-unstar {
    opacity: .3;
    margin-right: 0;
}


.sms-config-fields {
    padding-bottom: 22px;
    border-bottom: 1px solid #e9e9e9;
    padding-top: 15px;
}

.sms-config-fields:last-child {
    border-bottom: none;
}

.text-underline {
    text-decoration: underline;
}

.breadcrumb-elements .dropdown-menu {
    min-width: 180px;
    padding: 8px 0;
    color: #333333;
    border-radius: 0px;
}

.breadcrumb-elements  .dropdown-menu > li > a, .breadcrumb-elements  .dropdown-menu > li > label {
    -webkit-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.breadcrumb-elements .dropdown-menu > li > a {
    padding: 6px 10px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 4px solid white;
}

.breadcrumb-elements .dropdown-menu > li > a:hover, .breadcrumb-elements .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #333333;
    background-color: #eee;
    border-left: 4px solid #848484;
}

.switch-input-1 {padding: 6px 12px}

.w-full {
    width: 100%!important;
}

.p-4 {
    padding: 1rem!important;
}

.mt-6 {
    margin-top: 1.5rem!important;
}

.home-amount-today:first-child {
    background: #303F9F;
    color: #fff;
}

.home-amount-today:first-child .subtext {
    color: rgba(255, 255, 255, 0.62);
}

.home-amount-today:first-child a {
    color: #e5f3ff
}


.home-amount-today {
    font-size: 2.7rem;
    height: 110px;
    display: flex;
    align-items: center;
    padding: 18px 30px;
    justify-content: space-between;
}

.home-amount-today:last-child {
    border: none;
}

.home-amount-today .subtext {
    font-size: 13px;
    color: #999;
    margin-bottom: 10px;
}

.list-operators {
    font-size: 12px;
    color: #25d205
}

.home-amount-yesterday {
    color: #999977;
    font-size: 13px;
    margin-bottom: 10px;
}


.progress-please-wait {
    background-color: #010002;
    height: 100%;
    left: 0;
    opacity: .35;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.progress-please-wait-scroll {
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1000;
}

.bonus-user {
    background-color: rgba(8, 0, 0, 0.63);
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.toolbar-status {
    background-color: rgba(56, 56, 56, 0.54);
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.84);
}

.live-bg-2 {
    background-color: #637886 !important;
}

.live-bg-9 {
    background-color: #ab804b !important;
}

.live-bg-3 {
    background-color: #303F9F !important;
}

.live-bg-4 {
    background-color: #238627 !important;
}

.live-bg-5,.live-bg-6 {
    background-color: #b10c00 !important
}

.live-bg-10 {
    background-color: #a70000 !important;
}

.live-bg-7 {
    background-color: #af4c88 !important;
}

.live-bg-8 {
    background-color: #b2ba0f !important;
}

.live-line-2 {
    border-left: 3px solid #7b93a3;
}

.footer-detail {
    width: 100%;
    background-color: #f5f5f5;
    z-index: 5;
    padding: 8.3px;
}
.footer-detail .md-warn.md-raised {
    background-color: #4d4d51 !important;
}

.footer-detail .md-button {
    text-transform: uppercase;
    box-shadow: none !important;
    border-radius: 3px;
    padding: 2px 18px;
}

.footer-detail .md-button.md-raised:not([disabled]) {
}

.footer-detail .text-danger {
    color: #ff1313;
}

.margin-top-55 {
    margin-top: 55px;
}

.check-payment-button {
    padding: 5px;
    text-align: center;
}

.two-column-toolbar {
    background-color: #fff;
    box-shadow: rgba(0, 12, 56, 0.1) 0 5px 20px 0;
    *min-height: 53px;
    z-index: 1;
}

.item-detail-error {
    font-size: 14px !important;
    color: #b11212 !important;
    padding: 15px !important;
}

.two-column-toolbar .item-detail {
    padding: 10px;
    text-align: center;
}

.two-column-toolbar .item-detail div.amount {
    font-size: 20px;
}


.two-column-toolbar .item-detail div {

}

.isScam {
    padding: 20px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    border-radius: .25rem;
    text-align: center;
    font-size: 14px;
}

.live-md-list-scam {
    background-color: #ffe7e9;
}

.live-md-list .name {
    line-height: 1.6 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.live-md-list .amount {
    color: #999 !important;
    font-weight: 100 !important;
    font-size: 12px !important;
}

.live-md-list .id {
    color: #000;
    font-size: 11px;
    line-height: 1.5;
}


.cbtable thead tr th{
    border-right: 1px solid #e9e9e9;
}

.cbtable thead tr th:last-child{
    border:none;
}

#requisites-list .dropdown-header  span {
    color: #999;
    text-transform: none;
}


.isset-table-td {
    background-color: #ffe0e0;
}

.label {
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 300;
}

.user-sorting label {
    margin-bottom: 10px !important;
}

.activate-code .md-raised{
    margin: 0;
    margin-left: -20px;
}

.activate-code .notify {

}

.activate-code .input-code-col {
    padding-left: 10px;
}

.activate-code-update > tbody:first-child > tr:first-child > td {
    border-top: 0;
}

.activate-code-update tbody > tr > td{
    padding: 15px 20px;
}

.activate-code-content {
    margin-top: 0;
}

.system-updates .alert-warning {
    box-shadow: none;
    background-color: #FFF3E0;
}


.system-updates .alert-success {
    box-shadow: none;
    border: 1px solid #9cd86a !important;
}

.system-updates a {
    text-decoration: underline;
}

.system-updates p {
    font-size: 13px;
    color: #3f4b54!important;
}


.padding-lr-0 {
    padding-left: 0;
    padding-right: 0;
}

.padding-l-0 {
    padding-left: 0;
}

.padding-r-0 {
    padding-right: 0;
}

.ws-widgets-clients {
    text-align: center;
    margin-bottom: 0;
}

.ws-widgets-clients .ws-widgets-lines-top {
    border-top: 1px solid #f9f9f9;
}

.ws-widgets-clients .ws-widgets .category:not([class*="text-"]){
    font-size: 13px;
}

.ws-widgets-clients .ws-widgets-stats .ws-widgets-title {
    font-size: 3rem;
}


.iex-settings-color md-icon, .iex-settings-color i{
    color: #303f9f;
}

.iex-settings-color span {
    color: #303f9f;
}

.panel-button-widget {
}
.widgets-multi-menu-bar {
    padding: 0;
}
.md-menu-bar-menu {
    padding: 5px 0 !important;
}

.widgets-multi-menu-content .md-in-menu-bar {
    height: 40px !important;
}

.widgets-multi-menu-content .md-in-menu-bar button {
    height: 40px !important;
}

.widgets-multi-menu-content .md-in-menu-bar .md-button:after {
    top: 3px !important;
}

.widgets-multi-nested-content .md-in-menu-bar{
    height: 40px !important;
}
.widgets-multi-nested-content .md-in-menu-bar a {
    padding-top: 0 !important;
    height: 40px !important;
    line-height: 40px !important;
}

.admin-home-layout-1 .flex-25:last-child {
    margin-right: 0;
}

.widgets-multi-menu-bar:last-child {
    margin-right: -4px;
}

.lang-tabs .lang-tabs-link {
    padding: 8px 8px;
}

.lang-tabs .lang-tabs-link img {
    display: block;
    width: 20px;
}

#admin-menu-filter {
    border-radius: 0;
    box-shadow: none;
    padding: 20px 15px;
    border: none;
    background: #f7f7f7;
}

.custom-position-dl-button {
    float: left;
    margin-top: -55px;
    margin-left: 15px;
}


.color-green-alt {
    color: #447336 !important;
}

.color-red-alt {
    color: #854744 !important;
    color: #AA5046 !important;
}

.content {
    padding: 0 25px 60px 20px;
}

.adm-main-wrap {
    border: none;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 1024px;
    width: 100%;
}

.adm-workarea-wrap {
    border-top: 1px solid #a4b9cc;
    padding: 20px 37px 0 32px;
}

.adm-footer-wrap td {
    color: #45484f;
    font-size: 13px;
    height: 50px;
    vertical-align: top;
    text-shadow: 0 1px 0 #fff;
}

.adm-workarea-wrap {
    border: none;
    vertical-align: top;
    width: 100%;
    color: #45484f;
    font-size: 13px;
    height: 70px;
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #a4b9cc;
    padding: 20px 25px 0 20px;
}

.adm-workarea-wrap a:hover {
    text-decoration: underline;
}

.adm-footer-link {
    color: #45484f;
}

md-tabs.md-default-theme .md-tab,  md-tabs .md-tab {
    font-weight: 400;
}

.table-empty-reserve {
    background-color: #ffefef;
}

/** ----------------------------------------------- */

.iex-black-theme .bg-primary-700 {
    background-color: #353f53;
    color: rgba(255,255,255,.9);
    border-color: #353f53;
}

.iex-black-theme .panel-body + .panel-body, .iex-black-theme .panel-body + .table, .iex-black-theme .panel-body + .table-responsive, .iex-black-theme .panel-body.has-top-border {
    border-top: 1px solid rgba(255,255,255,.1);
}

.iex-black-theme .breadcrumb-elements .dropdown-menu > li > a {
    border-left: 4px solid #44506b;
}

.iex-black-theme .table-empty-reserve {
    background-color: #e600002b;
}

.iex-black-theme #admin-menu-filter {
    background: #1c212c;
}


.iex-black-theme .top-block-header {
    border-color: rgba(255,255,255,0.2);
}

.iex-black-theme .ws-widgets {
    box-shadow: none;
}

.iex-black-theme .order-profit-items {
    border-color: rgba(255,255,255,0.2);
}

.iex-black-theme .order-profit-label {
    color: rgba(255,255,255,.4);
}

.iex-black-theme .widget-color-time {
    color: rgba(255,255,255,.4);
    font-size: 11px;
}

.iex-black-theme .page-header-wrapper {
    background-color: #1c212c;
    color: #fff;
}

.iex-black-theme .settings-menu-panel{
    background: #1e2534;
}

.iex-black-theme .settings-menu-panel li {
    border-right: 1px solid rgb(233 233 233 / 5%);
}

.iex-black-theme .settings-menu-panel li a {
    color: #fff !important;
}

.iex-black-theme .settings-menu-panel>.active>a, .iex-black-theme .settings-menu-panel>.active>a:focus, .iex-black-theme .settings-menu-panel>.active>a:hover {
    background-color: rgb(0 0 0 / 23%);
}

.iex-black-theme .btn-default {
    background-color: #353f53;
    border-color: #242c3c;
}

.iex-black-theme .btn-default.active.focus,
.iex-black-theme .btn-default.active:focus,
.iex-black-theme .btn-default.active:hover,
.iex-black-theme .btn-default:active.focus,
.iex-black-theme .btn-default:active:focus,
.iex-black-theme .btn-default:active:hover,
.iex-black-theme .open>.dropdown-toggle.btn-default.focus,
.iex-black-theme .open>.dropdown-toggle.btn-default:focus,
.iex-black-theme .open>.dropdown-toggle.btn-default:hover {
    color: #cccaca;
    background-color: #404c63;
    border-color: #202736;
}


.iex-black-theme .breadcrumb-line {
    background-color: #353f53!important;
    color: #fff!important;
    border-top: 1px solid rgba(255,255,255,.1);
}

.iex-black-theme .breadcrumb-line a {
    color: rgba(255,255,255,.9)!important;
    text-shadow: none!important;
}

.iex-black-theme .breadcrumb > li i {
    color: rgba(255,255,255,.9)!important;
}

.iex-black-theme .breadcrumb > .active {
    color: rgba(255,255,255,.4);
}

.iex-black-theme md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: #353f53;
    color: rgba(255,255,255,.9);
    border-color: #353f53;
}

body.iex-black-theme, .iex-black-theme .body-background {
    color: rgba(255,255,255,.9);
    background: #262d3c;
}

.iex-black-theme md-sidenav {
    background-color: #353f53 !important;
}

.iex-black-theme md-sidenav .form-control {
    background-color: rgba(0,0,0,0.1);
    border: 0 solid transparent;
}

.iex-black-theme .sidebar-default .navigation li > a:hover,
.iex-black-theme .sidebar-default .navigation li > a:focus{
    background-color: rgba(255,255,255,.1);
}

.iex-black-theme .nav.side-menu>li>a, .iex-black-theme  .nav.child_menu>li>a {
    color: hsl(0, 0%, 100%);
}

.iex-black-theme .nav.child_menu {
    background-color: transparent;
}

.iex-black-theme .sidebar-default .navigation li.active > a {
    background-color: #03A9F2;
    color: #fff;
}

.iex-black-theme .menu-divider-line {
    border-top-color: rgb(49, 59, 78);
}

.iex-black-theme .side-menu li a .fa-custom-theme {
    color: #fff;
}

.iex-black-theme .sidebar-user-material .category-content {
    background: url(/admin-assets/images/md-1.png);
}

.iex-black-theme .x_panel {
    background-color: #353f53;
    box-shadow: none !important;
    color: rgba(255,255,255,.9);
}

.iex-black-theme .x_title {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.9);
}

.iex-black-theme .table-border-2 thead tr th {
    color: rgba(255,255,255,.9);
}

.iex-black-theme .table-border-2 thead th {
    border-color: rgba(255,255,255,.1) !important;
    font-weight: 300;
}


.iex-black-theme .form-control {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(255,255,255,.4);
}

.iex-black-theme .checkbox label::before {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(255,255,255,.4);
}

.iex-black-theme .checkbox label::after {
    color:#e6e6e6;
}

.iex-black-theme .table>tbody>tr>td, .iex-black-theme .table>tbody>tr>th,
.iex-black-theme .table>tfoot>tr>td,
.iex-black-theme .table>tfoot>tr>th, .iex-black-theme .table>thead>tr>td, .iex-black-theme .table>thead>tr>th
{
    border-color: rgba(255,255,255,.05);
}

.iex-black-theme .default-panel-footer {
    color: #fff;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
}

.iex-black-theme .btn-default.dropdown-toggle {
    background-color: rgba(0,0,0,.2) !important;
    border-color: rgba(255,255,255,.4) !important;
    color: #fff !important;
}

.iex-black-theme .dropdown-menu, .iex-black-theme .minicolors-panel, .iex-black-theme .popover, .iex-black-theme .ui-datepicker, .iex-black-theme .ui-dialog, .iex-black-theme .ui-menu
{
    color: #fff;
    background-color: #44506b!important;
}

.iex-black-theme .bootstrap-select .dropdown-menu ul .selected {
    background-color: rgba(255,255,255,.1)!important;
}

.iex-black-theme .dropdown-menu>li>a:focus, .iex-black-theme .dropdown-menu>li>a:hover {
    background-color: rgba(255,255,255,.1)!important;
}

.iex-black-theme .dropdown-menu>li>a {
    color: #fff;
}

.iex-black-theme .pagination>li>a:focus, .iex-black-theme .pagination>li>span:focus, .iex-black-theme .pagination>li>span:hover {
    color: #fff;
    background-color: rgba(255,255,255,.1);
}

.iex-black-theme .pagination>li>a:hover {
    color: #fff;
    background-color: rgba(16, 6, 6, 0.1);
}

.iex-black-theme .pagination>.active>a, .iex-black-theme .pagination>.active>a:focus,
.iex-black-theme .pagination>.active>a:hover, .iex-black-theme .pagination>.active>span,
.iex-black-theme .pagination>.active>span:focus, .iex-black-theme .pagination>.active>span:hover {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.iex-black-theme .pagination>li>a {
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
    color: #fff;
}

.iex-black-theme .pagination>.disabled>span{
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
}

.iex-black-theme .iex-black-theme .md-button.md-primary {
    color: #74c1ff;
}

.iex-black-theme a:hover {
    color: rgba(255,255,255,.75);
}

.iex-black-theme .popover-title-task {
    background: hsl(220, 22%, 21%);
    color: #fff;
}


.iex-black-theme .dropdown>.dropdown-menu:after, .iex-black-theme .minicolors-position-bottom .minicolors-panel:after {
    border-bottom: 6px solid #2a3241;
}

.iex-black-theme .live-md-list .id {
    color: rgba(255,255,255,.75);
}

.iex-black-theme .live-md-list .name {
    color: #fff;
}

.iex-black-theme .navbar-default {
    background-color: #353f53;
    border-color: #353f53;
}

.iex-black-theme .navbar-default .navbar-nav>.active>a {
    background-color: rgba(231, 231, 231, 0.05);
}

.iex-black-theme .nav.navbar-nav>li>a {
    color: #fff !important;
}

.iex-black-theme .nav.navbar-nav>li>a:hover,
.iex-black-theme .nav.navbar-nav>li>a:focus {
    color: #fff !important;
}

.iex-black-theme .systemsettings .navbar-nav>.active>a,
.iex-black-theme .systemsettings .navbar-nav>.active>a:focus,
.iex-black-theme .systemsettings .navbar-nav>.active>a:hover {
    border-bottom-color: #42a5f5;
}

.iex-black-theme .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #323d52;
}

.iex-black-theme .text-muted {
    color: rgba(255,255,255,.4)!important;
}

.iex-black-theme .modal-footer {
    border-top: 1px solid rgba(229, 229, 229, 0.11);
}
.iex-black-theme .systemsettings-panel .x_title {
    background-color: transparent;
}


.iex-black-theme .iex-settings-color md-icon{
    color: #42a5f5;
}

.iex-black-theme .iex-settings-color span {
    color: #42a5f5;
}

.iex-black-theme .ui-dialog-titlebar {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);
    color: #fff;
}

.iex-black-theme .modal-content {
    background: #353f53;
}

.iex-black-theme label {
    font-weight: 300;
}

.iex-black-theme .table-border-2>tbody>tr.important-time_over, .iex-black-theme .table-border-2>tbody>tr.important-error {
    background-color: #310000;
    border-left: 4px solid #150000;
}

.iex-black-theme a {
    color: #8dccff;
}

.iex-black-theme a:hover {
    color: #74c1ff;
}

.iex-black-theme .task-filter-title {
    background: #262d3c;
    border-bottom: 1px solid #262d3c;
    color: #03a9f2;
}

.iex-black-theme .currency-field-label {
    background: #262d3c;
    color: #03a9f2;
}

.iex-black-theme md-menu-content.md-default-theme, .iex-black-theme md-menu-content{
    background-color: rgb(42, 50, 66);
}

.iex-black-theme md-menu-item>.md-button span {
    color: #fff;
}

.iex-black-theme .md-button.md-icon-button md-icon, button.md-button.md-fab md-icon{
    color: #ffffff;
}

.iex-black-theme hr {
    border-top: 1px solid #414e67;
}

.iex-black-theme .direction-col-body .direction-col-line {
    border-right: 1px solid #2a3242;
}

.iex-black-theme .tabs-left>li.active>a, .iex-black-theme .tabs-left>li.active>a:hover, .iex-black-theme  .tabs-left>li.active>a:focus {
    background: #2a3242;
    color: #fff !important;
}

.iex-black-theme .nav-tabs > li > a:hover {
    background: #2a3242;
    color: #fff !important;
}

.iex-black-theme .nav-tabs, .iex-black-theme  .nav-tabs>li>a {
    color: #b1b1b1;
}

.iex-black-theme .input-group-addon {
    background-color: transparent;
    border: none;
    color: #fff;
}

.iex-black-theme .popover-content {
    color: rgba(255,255,255,.9);
}

.iex-black-theme .control-label-br{
    color: #c3c3c3;
}

.iex-black-theme #default-table.table>tbody>tr>th, .iex-black-theme #default-table.table>tbody>tr>td {
    border-bottom: 1px solid rgba(255,255,255,.05);
}

.iex-black-theme #default-table_wrapper > .row:first-child {
    border-bottom: 1px solid rgba(255,255,255,.05) !important;
}

.iex-black-theme .btn {
    color: #fff;
}

.iex-black-theme .ws-widgets {
    background: #2a3242;
    color: rgba(255, 255, 255, 0.87);
}

.iex-black-theme .panel {
    background-color: #353f53;
    border-color: transparent;
}

.iex-black-theme .panel-default>.panel-heading {
    color: #fff;
    background-color: #2a3242;
    border-color: #2a3242;
}

.iex-black-theme .nav-tabs>li.active>a, .iex-black-theme .nav-tabs>li.active>a:focus, .iex-black-theme  .nav-tabs>li.active>a:hover{
    background: transparent;
}


.iex-black-theme .isset-table-td {
    background-color: #2d0000;
}


.iex-black-theme .page-header-default .breadcrumb-line a {
    color: rgba(255,255,255,.9)!important;
    text-shadow: none!important;
}

.iex-black-theme .breadcrumb-elements > li.open > a,
.iex-black-theme  .breadcrumb-elements > li > a:hover, .iex-black-theme  .breadcrumb-elements > li > a:focus {
    background-color: rgba(255,255,255,.1);
}


.iex-black-theme  .dropdown-menu .divider {
    background-color: rgba(255,255,255,.1);
}

.iex-black-theme md-content.md-default-theme, .iex-black-theme md-content {
    background-color: #353f53;
    color: rgba(255,255,255,.9);
}

.iex-black-theme md-tabs.md-default-theme .iex-black-theme .md-tab, .iex-black-theme md-tabs .md-tab {
    color: rgba(255,255,255,.4);
}

.iex-black-theme md-tabs.md-default-theme .iex-black-theme .md-tab.md-active, .iex-black-theme md-tabs .md-tab.md-active {
    color: rgba(255,255,255,.8);
}

.iex-black-theme .ws-widgets .ws-widgets-footer {
    border-top: 1px solid rgba(255,255,255,.1);
}

.event-reserve-time {
    color: #555;
    font-size: 11px;
}

.order-home-amount {
    color: #666;
}

.home-amount-today:last-child {
    border-bottom: none  !important;
}



.iex-black-theme .event-reserve-time, .iex-black-theme .order-home-amount {
    color: #b3b3b3;
}

.iex-black-theme .home-amount-today {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.iex-black-theme .home-amount-today:first-child {
    background: #1c212c;
}

.iex-black-theme md-menu-content.md-menu-bar-menu.md-dense .md-menu>.md-button {
    color: rgba(255, 255, 255, 0.8);
}

.iex-black-theme .md-button.md-raised:not([disabled]):hover {
    background-color: rgb(6, 7, 10);
}

.iex-black-theme .md-button.md-default-theme.md-raised, .iex-black-theme  .md-button.md-raised {
    color: #fff;
    background-color: rgb(28, 33, 44);
}

.iex-black-theme md-menu-content.md-default-theme .md-menu>.md-button:after, .iex-black-theme  md-menu-content .md-menu>.md-button:after {
    color: rgba(255, 255, 255, 0.8);
}

.iex-black-theme .ui-state-default, .iex-black-theme .ui-widget-content .ui-state-default,
.iex-black-theme .ui-widget-header .ui-state-default,
.iex-black-theme .ui-button.ui-state-disabled:hover {
    background: #2a3242;
    color: #fff;
}

.iex-black-theme #sortable li {
    border: 1px dashed #141b2b;
}

.iex-black-theme .ui-state-default a, .iex-black-theme .ui-state-default a:link,
.iex-black-theme .ui-state-default a:visited, .iex-black-theme a.ui-button, .iex-black-theme a:link.ui-button,
.iex-black-theme a:visited.ui-button, .iex-black-theme .ui-button {
    color: #ffffff;
}

.iex-black-theme .adm-workarea-wrap {
    text-shadow: none;
    border-top: 1px solid rgba(255,255,255,.1);
}

.iex-black-theme .footer {
    background-color: #353f53 !important;
}




.alert-danger-color {
    background-color: #FBE9E7 !important;
    border-color: #FF5722 !important;
    color: #333;
    font-size: 13px;
    line-height: 1.4285715;
}


.alert.alert-styled-left {
    border-left-width: 44px;
}

.alert-component[class*=alert-styled-] {
    background-color: #fff;
}

.alert-component {
    border-width: 0;
}
.alert:not(.ui-pnotify)[class*=alert-arrow-]:before, .ui-pnotify.alert[class*=alert-arrow-] > .brighttheme:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    border-left: 5px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left-color: inherit;
    margin-top: -5px;
}

.alert[class*=alert-styled-].alert-danger:after, .alert[class*=alert-styled-][class*=bg-danger]:after {
    content: '\f05e';
}


.alert[class*=alert-styled-]:after {
    content: '\f05a';
    font-family: Font Awesome\ 5 Pro;
    color: #fff;
    width: 44px;
    left: -44px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.iex-custom-data-fields .form-horizontal .control-label {
    font-size: 13px;
    font-weight: 500;
}

.iex-custom-data-fields .currency-field-label {
    color: #303f9f;
    font-weight: 500;
    margin-right: -20px;
    margin-left: -20px;
    line-height: 2;
    padding-left: 20px;
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.cfl-mt-25 {
    margin-top: -25px;
}
.cfl-mt-20 {
    margin-top: -20px;
}

.iex-custom-data-fields .currency-notify {
    padding: 20px 10px;
    box-shadow: none;
    border: 1px solid #da0202;
    background: #ffe6e6;
    margin-top: 3px;
}

.iex-custom-data-fields .currency-notify b {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}

.iex-custom-data-fields .currency-notify ul li {
    margin-bottom: 5px;
    font-size: 13px;
}



.alert-success {
    border: none;
    background-color: #fff;
    border-left: 5px solid #12AF23;
}

.alert-success .flash-alert-title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 7px;
}

.alert-success .flash-alert-row i {
    margin-right: 15px;
    color: #12AF23;
    font-size: 30px;
}


.alert-warning {
    border: none;
    background-color: #fff;
    border-left: 5px solid #FF8907;
}

.alert-warning .flash-alert-title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 7px;
}

.alert-warning .flash-alert-row i {
    margin-right: 15px;
    color: #FF8907;
    font-size: 30px;
}


.alert-danger {
    border: none;
    background-color: #fff;
    border-left: 5px solid #F91F1F;
}

.alert-danger .flash-alert-title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 7px;
}

.alert-danger .flash-alert-row i {
    margin-right: 15px;
    color: #F91F1F;
    font-size: 30px;
}


.flash-alert-content {
    font-size: 14px;
    color: #A0A8AC;
}

.alert {
    border-radius: 5px;
}

.multi-language-form-group .tab-pane{
    padding: 0;
}

.multi-language-form-group .lang-tabs-link {
    padding: 2px 5px;
}

.multi-language-form-group .nav-pills>li.active>a {
    font-weight: normal;
}

.multi-language-form-group .nav>li {
    margin-bottom: 0;
}

.modal-open .top-toolbar {
    z-index: 1;
}


.input-p-text {
    padding-top: 5px;
    font-size: 12px;
    color: #777;
}

.md-button.md-raised {
    padding-left: 20px;
    padding-right: 20px;
}
.page-header-title {
    padding: 2rem 2rem 2rem 0;
    display: block;
    position: relative;
}

.top-block-header .heading-btn-group button i,
.top-block-header .heading-btn-group a i{
    min-height: 24px;
    font-size: 17px;
}

.add-item-button-color {
    color: green;
}



.form-check {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.form-check-input[type="checkbox"]:not(:checked), .form-check-input[type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.form-check-v2 {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.form-check-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 15px;
    height: 17px;
    opacity: 0;
    margin: 0 !important;
    padding: 0 !important;
}


.form-check-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-left: 6px;
    padding-top: 4px;
}

.form-check-label::before {
    border-radius: .30rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.form-check-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.form-check-input:checked ~ .form-check-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
    border-radius: .35rem;
}

.form-check-input:checked ~ .form-check-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.font-weight-bold {
    font-weight: bold;
}

.text-security-medium {
    color: #b4b707 !important;
}


.table-gateway-offline-tr {
    border-left: 3px solid #a20a0a !important;
    background-color: #fff5f5;
}

.control-label-br {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 13px;
    color: #999;
}

.control-label-br-oneline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.font-weight-normal {
    font-weight: normal;
}

.md-sidenav-left .sidenav-bar::-webkit-scrollbar-thumb {
    background-color: #d2d8ff38;
    border-radius: 9px;
    min-height: 50px;
}

.md-sidenav-left .sidenav-bar::-webkit-scrollbar {
    width: 0;
}


.md-sidenav-left .sidenav-bar
{
    display: block;
    position: relative;
    overflow: auto;
    padding-bottom: 45px;
}

.md-sidenav-left .sidenav-bar-footer {
    background: #0c0c0c;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 10px;
}

.sidenav-bar-footer-value {
    color: #fff;
}

.sidenav-bar-footer-icon {
    margin-right: 15px;
}

.sidenav-bar-footer-value-name {
    font-weight: 600;
    padding-bottom: 2px;
}

.sidenav-bar-footer-value-email {
    color: rgba(148,163,184, 1);
    font-size: 12px;
}

.sidenav-bar-menu-bar {
    padding: 0 20px;
}

.sidenav-bar-menu-bar md-menu {
    margin-right: 0;
}

.sidenav-bar-footer-menu {
    color: #595f6f;
}

.sidenav-bar-footer-menu:hover {
    color: #4c5263;
}

.page-header-wrapper {
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    /*box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);;*/
    /*-webkit-box-shadow: box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);;*/
}

.page-header-title {
    display: inline-block;
}

.page-header-title h5 {
    line-height: 30px;
    font-size: 21px;
    padding-right: 15px;
    margin: 0;
}

.page-header-wrapper .breadcrumb-line {
    font-size: 13px;
}

.page-header-star {
    border: none;
    padding-right: 0;
    margin-right: 5px;
    font-size: 17px;
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    box-shadow: 0 1px 0 0 #f1f1f1 !important;
}
