.box-md {
    width: 400px;
}

.ui-dialog-buttonpane, body .button-pane {
    padding: 10px;
    text-align: center;
    border-width: 1px 0 0;
    border-style: solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#page-header .dropdown-menu .button-pane {
    padding: 5px 0 0;
}

.font-normal {
    font-weight: 400;
}

.text-transform-cap {
    text-transform: capitalize;
}

.float-right, .pull-right {
    float: right!important;
}

/*.btn-group-vertical>.btn:first-child, .content-box .content-box-header, .list-group-item:first-child, .nav-list li:first-child a, .notifications-box li:first-child, .panel-heading, .panel>.list-group:first-child .list-group-item:first-child, .popover-title, .post-box textarea, .pricing-title, .tile-header, .ui-datepicker-header, .ui-datepicker-title, .ui-dialog .ui-dialog-titlebar, .ui-tabs-nav, .ui-tabs-nav li>a {*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
/*}*/

/*.bg-default, .bg-white.dashboard-box .button-pane, .bg-white.tile-box .tile-footer, .bootstrap-switch-default,*/
/*.button-pane, .jvectormap-label, .jvectormap-zoomin, .jvectormap-zoomout, .label-default, .mail-toolbar, .panel-footer, .panel-heading, .popover-title, .ui-accordion-header, .ui-datepicker td a, .ui-datepicker td span, .ui-dialog .ui-dialog-titlebar, .ui-spinner .ui-spinner-button, div[id^=uniform-] span {*/
    /*color: #555a60;*/
    /*background-color: #FEFEFF;*/
/*}*/

/*.bg-default, .bg-white.dashboard-box .button-pane, .bg-white.tile-box .tile-footer, .border-default, .bordered-row .form-group, .button-pane, .chosen-container, .chosen-container .chosen-drop, .chosen-container-active.chosen-with-drop .chosen-single div, .chosen-container-multi .chosen-choices li.search-choice, .chosen-container-single .chosen-single div, .content-box, .content-box-header.bg-default, .content-box-header.bg-gray, .content-box-header.bg-white, .dashboard-buttons .btn, .daterangepicker .calendar-date, .dropdown-menu, .email-body, .fc-state-default, .fc-widget-content, .fc-widget-header, .img-thumbnail, .jvectormap-label, .jvectormap-zoomin, .jvectormap-zoomout, .list-group-item, .mail-toolbar, .mailbox-wrapper .nav-list li a, .minicolors-panel, .ms-container .ms-list, .ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav-tabs, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover, .pagination>li>a, .pagination>li>span, .panel-box.bg-default, .panel-box.bg-gray, .panel-box.bg-white, .panel-content.bg-default, .panel-content.bg-gray, .panel-content.bg-white, .panel-footer, .panel-group .panel-footer+.panel-collapse .panel-body, .panel-group .panel-heading+.panel-collapse .panel-body, .panel-heading, .popover, .popover-title, .posts-list li, .selector i, .table-bordered, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, .tabs-navigation>ul, .tabs-navigation>ul li.ui-state-hover>a, .tabs-navigation>ul li>a, .thumb-pane, .thumbnail, .timeline-box .tl-item .popover, .timeline-box:before, .ui-accordion .ui-accordion-header, .ui-datepicker, .ui-datepicker .ui-datepicker-buttonpane button, .ui-datepicker-buttonpane, .ui-dialog, .ui-dialog .ui-dialog-titlebar, .ui-dialog-buttonpane, .ui-menu, .ui-spinner .ui-spinner-button, .ui-tabs-nav, div.selector, div[id^=uniform-] span {*/
    /*border-color: rgba(158,173,195,.16);*/
/*}*/