

.left_col {
    width: 100%;
    background: #15181b;
}
.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: absolute
}
.nav-sm .container.body .col-md-3.left_col.menu_fixed {
    position: fixed;
    height: 100%
}
.nav-sm .container.body .col-md-3.left_col .mCSB_container,
.nav-sm .container.body .col-md-3.left_col .mCustomScrollBox {
    overflow: visible
}
.nav-sm .hidden-small {
    visibility: hidden
}
.nav-sm .container.body .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2
}
.nav-sm .navbar.nav_title {
    width: 70px
}
.nav-sm .navbar.nav_title a span {
    display: none
}
.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px
}

#header-nav-left {
    float: right;
}

#header-nav-right {
    float: left;
}

#header-nav-left .user-account-btn {
    height: 28px;
    line-height: 28px;
    margin: 15px 0 0;
    display: inline-block;
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 20px;
}

#header-nav-left .user-account-btn>a {
    display: block;
    height: 28px;
    line-height: 28px;
}

#header-nav-left a>img {
    border-radius: 50px;
    margin: 0 5px 0 0;
    display: block;
    float: left;
}

#header-nav-left .user-account-btn>a span {
    font-weight: 700;
    font-size: 14px;
    padding-right: 5px;
    display: block;
    float: left;
}

#header-nav-right .hdr-btn, #header-nav-right>.dropdown>a {
    float: left;
    font-size: 19px;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 5px 0 0;
    position: relative;
}

#header-nav-left .hdr-btn, #header-nav-left>.dropdown>a {
    float: left;
    font-size: 19px;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 5px 0 0;
    position: relative;
}

#header-nav-right .header-btn, #header-nav-right .hdr-btn, #header-nav-right>.dropdown>a {
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    width: 60px;
    text-align: center;
    float: right;
    margin: 0;
    /* height: 100%; */
}

#header-nav-left .header-btn, #header-nav-left .hdr-btn, #header-nav-left>.dropdown>a {
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    width: 60px;
    text-align: center;
    float: right;
    margin: 0;
    /* height: 100%; */
}

.badge-black, .bg-black, .btn-black, .hover-black:hover, .label-black {
    color: #ccc;
    border-color: #000;
    background: #272634;
}


.sb-toggle-left,.sb-toggle-right {
    color: #858598;
}

.sb-toggle-left:hover,.sb-toggle-right:hover {
    background-color: #e9e9e9 !important;
}



.nav-md .container.body .col-md-3.left_col.menu_fixed {
    height: 100%;
    position: fixed
}


.container {
    width: 100%;
    /* padding: 0; */
}

.main_container .top_nav {
    display: block;
}



.nav_menu
{
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 999;
    top: 0;
}




.nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 280px;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    margin-right: -100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.pagination {
    margin: 0; }

.items-per-page {
    margin-left: 15px; }

.sortable:after {
    font: 14px/1 FontAwesome;
    content: "\f0dc";
    margin-left: 10px;
}

.sortable.sort-ascent:after {
    content: '\f0de';
    vertical-align: bottom; }

.sortable.sort-descent:after {
    content: "\f0dd";
    vertical-align: top; }


.sidebar-header {
    border-bottom: 0;
    margin-top: 46px
}
.sidebar-header:first-of-type {
    margin-top: 0
}
.nav.side-menu>li {
    position: relative;
    display: block;
    cursor: pointer;
}

.side-menu > li {
    margin: 0 12px;
}



.nav.child_menu {
    display: none;
    background-color: rgb(18 18 18);
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.nav.child_menu li {*/
    /*padding-left:25px*/
/*}*/

.nav-md ul.nav.child_menu li:last-child::after {
    bottom: 50%;
}
.nav.side-menu>li>a, .nav.child_menu>li>a {
    color: rgba(255,255,255, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    opacity: .8;
}
.nav.child_menu li li:hover,
.nav.child_menu li li.active {
    background: none
}


.nav.child_menu>li>a {
    padding-left: 40px;
}



/*.nav.child_menu li li a:hover,*/
/*.nav.child_menu li li a.active {*/
    /*color: #fff*/
/*}*/
.nav>li {
    margin-bottom: 4px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 13px 15px
}
.nav li.current-page {
    background-color: rgba(255,255,255, 0.12) !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    border-radius: 6px;
    cursor: default;
    pointer-events: none;
}
.nav li li li.current-page {
    background: none
}




#sidebar-menu li.header {
    color: rgba(255,255,255,.5);
}

#sidebar-menu li.header {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 700;
    margin-left: 20px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: auto;
}


.child_menu li md-icon {
    font-size: 8px;
    margin-right: 15px;
    line-height: 2;
    height: 6px;
    min-height: 19px;
    float: left;
}

.child_menu li md-icon
{
    margin-left: 10px;
}

.single_child_menu > .child_menu li md-icon {
    margin-right: 20px !important;
    margin-left: 20px;
}

.single_child_menu .child_menu>li>a {
    padding-left: 50px;
}


.child_menu_title {
    font-size: 14px;
}

.sidenav-admin-username {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.sidenav-admin-rule {
    color: rgba(148,163,184, 1);
    margin-top: .625rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5;
    font-size: 13px;
}


.sidenav-admin-avatar {
    position: relative;
    display: block;
    width: 96px;
    height: auto;
}

.sidenav-admin-avatar img {
    width: 100%;
    height: auto;
}


.live-popover {
    background-color: transparent;
    margin-top: 10px;
    top: 52px;
}
.live-popover .scrollable-content {
    background-color: #fff;
}


.sidenav-nav-title-wrapper{
    position: relative;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    cursor: auto;
}

.sidenav-nav-title {
    color: rgb(129 193 248);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.sidenav-nav-subtitle {
    font-size: 11px;
    line-height: 1.5;
    color: #fff;
    opacity: .5;
    text-transform: none;

}


/*.nav-md ul.nav.child_menu li:before*/
/*{*/
    /*font-family: FontAwesome;*/
    /*content: "\f111";*/
    /*font-size: 8px;*/
    /*width: 18px;*/
    /*height: 32px;*/
    /*line-height: 32px;*/
    /*display: block;*/
    /*float: left;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/
    /*margin: 2px 10px 0 20px;*/
/*}*/

/*.nav-md ul.nav.child_menu .single_child_menu ul.nav.child_menu li:before*/
/*{*/
    /*margin-left: 40px;*/
/*}*/



/*.nav-md ul.nav.child_menu:hover li::before:hover*/
/*{*/
    /*color: #000 !important;*/
/*}*/

/*.nav-md ul.nav.child_menu li:after {*/
/*border-left: 1px solid #4c4c4c;*/
/*bottom: 0;*/
/*content: "";*/
/*left: 27px;*/
/*position: absolute;*/
/*top: 0*/
/*}*/

.navbar-brand,
.navbar-nav>li>a {
    font-weight: 500;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 32px
}
.site_title {
    text-overflow: ellipsis;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    overflow: hidden;
    text-align: center;
    font-weight: 400;
    width: 100%;
    color: #ECF0F1 !important;
    line-height: 57px;
    display: block;
    height: 57px;
    margin: 0;
    font-size: 22px;
    letter-spacing: .1em;
}
.site_title:hover,
.site_title:focus {
    text-decoration: none
}
.nav.navbar-nav>li>a {
    color: #777777 !important
}

.nav.navbar-nav>li>a:hover,
.nav.navbar-nav>li>a:focus{
    color: #515356 !important
}

.systemsettings .settings-menu-panel>li>a i {
    margin-right: 5px;
}

.systemsettings {
    border-radius: 0;
    margin-bottom: 1px;
    border: none;
}

.systemsettings .table {
    margin-bottom:0;
}

.margin-b-0 {
    margin-bottom: 0;
}

.systemsettings .settings-menu-panel>.active>a,
.systemsettings .settings-menu-panel>.active>a:focus,
.systemsettings .settings-menu-panel>.active>a:hover {
    border-bottom: 2px solid #303F9F;
}

.systemsettings .settings-menu-panel>li>a {
    border-bottom: 2px solid transparent;
}

.systemsettings .settings-menu-panel>li>a:hover {
    border-bottom: 2px solid #303F9F;
}

.navbar-component .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-component .settings-menu-panel>li>a {
    line-height: 24px;
    padding: 13px 20px;
    font-size: 12px;
    font-weight: normal;
}

.table-responsives .tab-content .tab-pane {
    padding: 0;
}


.nav.top_menu>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #34495E !important
}
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent
}


.menu_section {
    margin-bottom: 35px
}
.menu_section h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
}
.menu_section>ul {
    margin-top: 10px
}

.profile_info {
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,.22);
    height: 60px;
}
.profile_info span {
    font-size: 13px;
    color: #BAB8B8
}
.profile_info h2 {
    font-size: 16px;
    color: #ECF0F1;
    font-weight: 300;
    margin: 0;
    line-height: 2.6;
}

.page-title {
    padding: 20px 30px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 0 10px;
}


.page-title .title_left {
    width: 45%;
    float: left;
    display: block
}
.page-title .title_left h3 {
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
    color: #23282d;
    padding: 9px 0 4px;
    line-height: 29px;
    margin: 0 0 10px;
}
.page-title .title_right {
    width: 55%;
    float: left;
    display: block
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right
}
.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static
}


.nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    display: none;
    border-radius: 0;
    height: 57px
}

.nav-md .container.body .right_col {
    margin-left: 260px;
    padding: 80px 5px 0 25px
}


.x_panel
{
    /*-webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);*/
    /*box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);*/

    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    -webkit-box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    position: relative;
    padding: 0;
    background: #fff;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
    border-radius: 1rem;
}
.x_title {
    color: #333;
    position: relative;
    border-radius: 0;
    min-height: 45px;
    vertical-align: middle;
}


.x_title_filter > a {
    padding: 20px 25px;
}

 .x_title > h2 {
    padding: 20px 25px;
}

.x_title .filter {
    width: 40%;
    float: right
}
.x_title h2
{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.4285715;
}

.x_title h2 small {
    margin-left: 10px
}
/*}*/
/*.x_title span {*/
    /*color: #BDBDBD*/
/*}*/
.x_content {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
}
.x_content h4 {
    font-size: 16px;
    font-weight: 500
}

.abs-link-notification {
    position: absolute !important;
    width: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:0;
    padding:0 !important;
    line-height: normal;
}

.notifications-box li:hover {
    background-color: #f1f1f1;
}

.notifications-box {
    border: 0px solid transparent !important;
}

#notifications-btn .dropdown-menu{
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 0;
}

#notifications-btn .button-pane {
    border-color: #d9d9d9;
    padding: 0;
}


table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\f0dc"
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'FontAwesome';
    opacity: 0.5;
}


table.dataTable thead .not-sortable:after {
    display: none;
}

.form-control,
.single-line {
    border: 1px solid #e0e0e0;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    background-color: #fff;
    box-shadow: none;
    height: 38px;
    color: inherit;
    display: block;
    padding: 8px 15px;
    border-radius: 4px;
    width: 100%;
}

.form-control:active,
.single-line:active,
.form-control:focus,
.single-line:focus{
    border: 1px solid rgb(21,101,192);
    box-shadow:none;
}


.bootstrap-select.form-control:active,
.bootstrap-select.single-line:active,
.bootstrap-select.form-control:focus,
.bootstrap-select.single-line:focus{
    border: none;
    box-shadow:none;
}


.input-group-addon {
    background-color: transparent;
    border: 1px solid #e0e0e0;
    box-shadow: none;
}

.bootstrap-select .btn-default.dropdown-toggle {
    border-radius: 4px;
    background: #fbfcfc;
}

/*.bootstrap-select.btn-group .dropdown-menu li {*/
/*    border-top: 1px solid #f9f9f9;*/
/*}*/



.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px;
}


/************************************************************/

.text-success, .text-success:focus, .text-success:hover {
    color: #4caf50!important;
}


.text-danger,
.text-danger:focus,
.text-danger:hover {
    color: #f44336!important
}

.text-danger-300,
.text-danger-300:focus,
.text-danger-300:hover {
    color: #e57373!important
}

.text-danger-400,
.text-danger-400:focus,
.text-danger-400:hover {
    color: #ef5350!important
}

.text-danger-600,
.text-danger-600:focus,
.text-danger-600:hover {
    color: #e53935!important
}

.text-danger-700,
.text-danger-700:focus,
.text-danger-700:hover {
    color: #d32f2f!important
}

.text-danger-800,
.text-danger-800:focus,
.text-danger-800:hover {
    color: #c62828!important
}

/************************************************************/

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -8px;
    vertical-align: middle;
    border: none;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 10px;
}


.group-parser-nav li {
    margin-bottom: 0;
    font-size: 14px;
}

.group-parser-nav li a {
    padding-left: 20px;
    padding-right: 20px;
}

.group-parser-nav .badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px 9px;
    font-size: 12px;
    line-height: 1;
    color: #5c86f8 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    background-color: rgb(5 36 80 / 7%) !important;
    margin-left: 5px;
    font-weight: 500;
}


.group-parser-header {
    border: none !important;
    background: transparent !important;
}
