.float-left,
.pull-left {
    float: left!important
}

.float-right,
.pull-right {
    float: right!important
}

.float-none {
    float: none!important
}

.font-size-10 {
    font-size: 10px!important
}

.font-size-11 {
    font-size: 11px!important
}

.font-size-12 {
    font-size: 12px!important
}

.font-size-13 {
    font-size: 13px!important
}

.font-size-14 {
    font-size: 14px!important
}

.font-size-15 {
    font-size: 15px!important
}

.font-size-16 {
    font-size: 16px!important
}

.font-size-17 {
    font-size: 17px!important
}

.font-size-18 {
    font-size: 18px!important
}

.font-size-20 {
    font-size: 20px!important
}

.font-size-23 {
    font-size: 23px!important
}

.font-size-26 {
    font-size: 26px!important
}

.font-size-28 {
    font-size: 28px!important
}

.font-size-35 {
    font-size: 35px!important
}

.font-size-50 {
    font-size: 50px!important
}

.text-center {
    text-align: center!important
}

.text-left {
    text-align: left!important
}

.text-right {
    text-align: right!important
}

.text-justify {
    text-align: justify
}

.text-transform-none {
    text-transform: none
}

.text-transform-upr {
    text-transform: uppercase
}

.text-transform-low {
    text-transform: lowercase
}

.text-transform-cap {
    text-transform: capitalize
}

.text-no-wrap {
    white-space: nowrap
}

.font-bold {
    font-weight: 700!important
}

.font-normal {
    font-weight: 400
}

.font-italic {
    font-style: italic
}

.font-none {
    font-style: none
}

.clear {
    clear: both
}

.clear-none {
    clear: none!important
}

.ui-front {
    z-index: 100
}

.wrapper-sticky {
    z-index: 15
}

.hide,
.lazy,
.mix,
.tab-pane,
[data-toggle=buttons]>.btn>input[type=checkbox],
[data-toggle=buttons]>.btn>input[type=radio] {
    display: none
}

.tab-pane {
    padding: 15px
}

.hidden,
.ui-helper-hidden-accessible {
    display: none!important
}

.display-block {
    position: relative!important;
    display: block!important
}

.display-block .button-content {
    float: none
}

.display-block.dropdown-menu {
    position: static!important
}

.display-inline {
    display: inline-block
}

.no-border {
    border-color: transparent!important
}

.dropdown-menu.pad0A .hasDatepicker .ui-datepicker,
.remove-border {
    border: 0!important
}

.border-top {
    border-top-width: 3px!important;
    border-top-style: solid!important
}

.width-100 {
    box-sizing: border-box;
    width: 100%
}

.center-margin {
    float: none!important;
    margin: 0 auto
}

.center-block,
.container {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.center-vertical {
    position: relative;
    z-index: 15;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%
}

.center-vertical .center-content {
    display: table-cell;
    vertical-align: middle
}

.position-absolute {
    position: absolute
}

.show {
    display: block!important
}

.hidden {
    display: none!important;
    visibility: hidden!important
}

.invisible {
    visibility: hidden
}

.center-div {
    float: none!important;
    margin-right: auto!important;
    margin-left: auto!important;
    text-align: center!important
}

.divider,
.nav-divider {
    ityity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity: 70)
}

.divider {
    overflow: hidden;
    height: 1px;
    margin: 10px 0;
    padding: 0
}

.divider-header {
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
    opacity: .2;
    color: #fff
}

.overflow-hidden {
    overflow: hidden
}

.width-reset {
    width: auto!important
}

.opacity-10 {
    opacity: .1!important;
    -moz-opacity: .1!important;
    filter: alpha(opacity: 10)!important
}

.info-box b,
.info-box.icon-wrapper .icon-large,
.opacity-30 {
    opacity: .3!important;
    -moz-opacity: .3!important;
    filter: alpha(opacity: 30)!important
}

.opacity-40 {
    opacity: .4!important;
    -moz-opacity: .4!important;
    filter: alpha(opacity: 40)!important
}

.info-box b,
.label-description span,
.opacity-60,
.opacity-hover {
    opacity: .6!important;
    -moz-opacity: .6!important;
    filter: alpha(opacity: 60)!important
}

.no-shadow.transparent.btn:hover i,
.opacity-80,
.ui-datepicker-current.ui-priority-secondary {
    opacity: .8!important;
    -moz-opacity: .8!important;
    filter: alpha(opacity: 80)!important
}

.opacity-100,
.opacity-hover:hover {
    opacity: 1!important;
    -moz-opacity: 1!important;
    filter: alpha(opacity: 100)!important
}

.btn-link .glyph-icon.opacity-hover {
    margin: 0 -5px
}

.transparent {
    border-color: transparent!important;
    background: none!important;
    box-shadow: 0 0 transparent!important
}

.no-shadow {
    box-shadow: 0 0 0 transparent!important
}

.remove-bg {
    background: 0 0
}

.nicescroll-rails {
    background: none!important
}

.btn .caret {
    margin-left: 0
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    content: '';
    border-top: 0;
    border-bottom: 4px solid
}

.chosen-results,
.form-wizard>ul,
.nav-list ul,
.nav-list-horizontal ul,
.parsley-errors-list,
.reset-ul,
.tabs-navigation>ul,
ul.messages-box,
ul.notifications-box,
ul.progress-box {
    margin: 0;
    padding: 0;
    list-style: none
}

#page-wrapper:after,
#page-wrapper:before,
.btn-group:after,
.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.button-pane:after,
.button-pane:before,
.chat-box li:after,
.chat-box li:before,
.clearfix:after,
.clearfix:before,
.comments-list li .panel-body:after,
.comments-list li .panel-body:before,
.container:after,
.container:before,
.content-box-header:after,
.content-box-header:before,
.example-box-wrapper:after,
.example-box-wrapper:before,
.files-box li:after,
.files-box li:before,
.form-input-prepend:after,
.form-input-prepend:before,
.form-row:after,
.form-row:before,
.info-box:after,
.info-box:before,
.messages-box li:after,
.messages-box li:before,
.nav-list li:after,
.nav-list li:before,
.nav:after,
.nav:before,
.notifications-box li:after,
.notifications-box li:before,
.pager:after,
.pager:before,
.posts-list li:after,
.posts-list li:before,
.tl-item:after,
.tl-item:before,
.tl-row:after,
.tl-row:before,
.todo-box li:after,
.todo-box li:before,
.ui-datepicker-buttonpane:after,
.ui-datepicker-buttonpane:before,
.ui-helper-clearfix:after,
.ui-helper-clearfix:before {
    display: table;
    content: ''
}

#page-wrapper:after,
.btn-group:after,
.btn-toolbar:after,
.button-pane:after,
.chat-box li:after,
.clearfix:after,
.comments-list li .panel-body:after,
.container:after,
.content-box-header:after,
.example-box-wrapper:after,
.files-box li:after,
.form-input-prepend:after,
.form-row:after,
.info-box:after,
.messages-box li:after,
.nav-list li:after,
.nav:after,
.notifications-box li:after,
.pager:after,
.posts-list li:after,
.tl-item:after,
.tl-row:after,
.todo-box li:after,
.ui-datepicker-buttonpane:after,
.ui-helper-clearfix:after {
    clear: both
}

.ui-sortable-placeholder {
    visibility: visible!important;
    border: 1px dashed #efda2c!important;
    background: #fffce5!important
}

.daterangepicker td.available.in-range:hover,
.daterangepicker td.in-range {
    background: #fffce5
}

.checker.disabled,
.checker.disabled span,
.chosen-disabled,
.disabled,
.radio.disabled,
.radio.disabled span,
.ui-rangeSlider-disabled .ui-rangeSlider-arrow,
.ui-rangeSlider-disabled .ui-rangeSlider-container,
.ui-rangeSlider-disabled .ui-rangeSlider-label,
.ui-state-disabled,
button[disabled] {
    cursor: not-allowed!important;
    opacity: .65;
    filter: alpha(opacity: 65)
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    opacity: .65;
    background: #fafafa;
    filter: alpha(opacity: 65)
}

input[readonly],
select[readonly],
textarea[readonly] {
    opacity: .8;
    background: #fdfdfd;
    -moz-opacity: .8;
    filter: alpha(opacity: 80)
}

.login-img {
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.fixed-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.remove-background {
    background: 0 0
}

.ui-widget-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 16
}

.ui-widget-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px
}

#loading {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff
}

.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.collapse {
    display: none
}

.collapse.in,
.tab-pane.active {
    display: block
}

.collapsing {
    position: relative;
    overflow: hidden;
    height: 0;
    -webkit-transition: height .35s ease;
    transition: height .35s ease
}

.small-padding {
    padding: 25px 0
}

.medium-padding {
    padding: 55px 0
}

.large-padding {
    padding: 85px 0
}

.xlarge-padding {
    padding: 115px 0
}

.glyph-icon {
    text-align: center
}

#page-sidebar li a.sf-with-ul:after,
#page-sidebar li ul li a:before,
.dataTables_paginate a i:before,
.fc-icon,
.glyph-icon:before,
.search-choice-close:before,
.ui-dialog-titlebar-close:before,
.ui-icon:before {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: 0 0;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    cursor: not-allowed;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
}

.svg-icon-loader {
    width: 100px;
    height: 100px;
    float: left;
    line-height: 100px;
    text-align: center
}

.svg-icon-loader img {
    vertical-align: middle
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

.rm-transition {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important
}

.btn,
a,
button,
div[id^=uniform-] span {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out
}

#page-header,
#page-sidebar,
.main-header,
.top-bar {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out
}

.example-box-wrapper {
    margin-bottom: 15px;
    position: relative
}

.example-box-wrapper .ui-datepicker-inline {
    position: relative;
    width: 100%
}

.panel-body .col-md-6 .example-box-wrapper:last-child,
.panel-body .example-box-wrapper:last-child {
    margin-bottom: 0
}

.example-box-wrapper .alert,
.example-box-wrapper .content-box,
.example-box-wrapper .dashboard-box,
.example-box-wrapper .dataTables_wrapper,
.example-box-wrapper .icon-box,
.example-box-wrapper .image-box,
.example-box-wrapper .jcrop-holder,
.example-box-wrapper .jvectormap-container,
.example-box-wrapper .list-group,
.example-box-wrapper .loading-spinner,
.example-box-wrapper .loading-stick,
.example-box-wrapper .minicolors,
.example-box-wrapper .nav,
.example-box-wrapper .panel-layout,
.example-box-wrapper .scrollable-content,
.example-box-wrapper .tile-box,
.example-box-wrapper .ui-accordion,
.example-box-wrapper .ui-rangeSlider,
.example-box-wrapper .ui-slider,
.example-box-wrapper .ui-tabs,
.example-box-wrapper>.btn,
.example-box-wrapper>.btn-group,
.example-box-wrapper>.btn-group-vertical,
.example-box-wrapper>.btn-toolbar,
.example-box-wrapper>.display-block.dropdown-menu,
.example-box-wrapper>.dropdown,
.example-box-wrapper>.dropup,
.example-box-wrapper>.hasDatepicker,
.example-box-wrapper>.img-humbnail,
.example-box-wrapper>.minicolors,
.example-box-wrapper>.pagination,
.example-box-wrapper>.panel-layout,
.example-box-wrapper>.progressbar,
.example-box-wrapper>.thumbnail,
.example-box-wrapper>form,
.example-box-wrapper>h6,
.example-box-wrapper>img {
    margin-bottom: 20px
}

.demo-icon {
    font-size: 22px;
    line-height: 40px;
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    color: #92A0B3;
    border: 1px solid rgba(220, 233, 255, .54);
    border-radius: 3px
}

.demo-icon:hover {
    color: #59606c;
    border-color: #92A0B3
}


